<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>ListDevice</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-4">
            <label translate>id_group</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="id_group">
                <mat-option *ngFor="let group of groups" [value]="group.id">
                  {{group.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label translate>id_diaBan</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="id_diaBan">
                <mat-option *ngFor="let diaBan of diaBans" [value]="diaBan.id">
                  {{diaBan.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label translate>id_configuration</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="id_configuration">
                <mat-option *ngFor="let config of configs" [value]="config.id">
                  {{config.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label translate>content</label>
            <div class="control">
              <input type="text" class="form-control input is-primary" formControlName="contents" />
            </div>
          </div>
          <!-- <div class="form-group col-sm-3">
            <label translate>tuNgay</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>denNgay</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="denNgay" />
            </div>
          </div> -->
          <div class="form-group col-sm-6">
            <label></label>
          </div>
          <div class="form-group col-sm-2">
            <label>&nbsp;</label>
            <div class="control">
              <button type="submit" mat-button class="button btn is-primary float-right"><i class="fa fa-search"></i>
                <span translate>Search</span></button>
            </div>
          </div>

        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          <div style="height: 500px; width: 100%;" leaflet [leafletOptions]="options"
            (leafletMapReady)="onMapReady($event)">
            <div *ngFor="let l of markerData" [leafletLayer]="l">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>