ul,
li {
      margin: 0;
      padding: 0;
      list-style: none;
}

#file-label {
      display: inline-flex;
      vertical-align: middle;
      font-size: 18px;
      line-height: 18px;
}

#file-label mat-icon {
      font-size: 30px;
      text-align: center;
}

#file-label a {
      cursor: pointer;
}

table{
      width: 100%;
     }
     
     .mat-column-filename {
       word-wrap: break-word !important;
       white-space: unset !important;
       flex: 0 0 70% !important;
       width: 70% !important;
       overflow-wrap: break-word;
       word-wrap: break-word;
     
       word-break: break-word;
     
       -ms-hyphens: auto;
       -moz-hyphens: auto;
       -webkit-hyphens: auto;
       hyphens: auto;
     }
     
     .mat-column-index {
       word-wrap: break-word !important;
       white-space: unset !important;
       flex: 0 0 15% !important;
       width: 15% !important;
       overflow-wrap: break-word;
       word-wrap: break-word;
     
       word-break: break-word;
     
       -ms-hyphens: auto;
       -moz-hyphens: auto;
       -webkit-hyphens: auto;
       hyphens: auto;
     }
     
     .mat-column-contactno {
       word-wrap: break-word !important;
       white-space: unset !important;
       flex: 0 0 17% !important;
       width: 17% !important;
       overflow-wrap: break-word;
       word-wrap: break-word;
     
       word-break: break-word;
     
       -ms-hyphens: auto;
       -moz-hyphens: auto;
       -webkit-hyphens: auto;
       hyphens: auto;
     }
     
     .mat-column-userimage {
       word-wrap: break-word !important;
       white-space: unset !important;
       flex: 0 0 8% !important;
       width: 8% !important;
       overflow-wrap: break-word;
       word-wrap: break-word;
     
       word-break: break-word;
     
       -ms-hyphens: auto;
       -moz-hyphens: auto;
       -webkit-hyphens: auto;
       hyphens: auto;
     }
     
     .mat-column-userActivity {
       word-wrap: break-word !important;
       white-space: unset !important;
       flex: 0 0 10% !important;
       width: 10% !important;
       overflow-wrap: break-word;
       word-wrap: break-word;
     
       word-break: break-word;
     
       -ms-hyphens: auto;
       -moz-hyphens: auto;
       -webkit-hyphens: auto;
       hyphens: auto;
     }