<form [formGroup]="thongBaoForm" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateThongBao</h2>
    <mat-tab-group>
      <mat-tab>
        <div>&nbsp; </div>
        <ng-template mat-tab-label>
          <label translate>noiDung</label>
        </ng-template>
        <div class="col-md-11">
          <div>
            <div class="form-group field">
              <label translate>noiDung</label>
              <div class="control">
                <input class="form-control input is-primary" formControlName="noiDung"
                  [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }" />
                <div *ngIf="submitted && f.noiDung.errors" class="help is-danger">
                  <div *ngIf="f.noiDung.errors.required" translate>noiDung is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label translate>id_diaBan</label><span style="color: red;">*</span>
                <div class="control">
                  <mat-select class="form-control input is-primary" formControlName="id_diaBan">
                    <mat-option *ngFor="let diaBan of diaBans" [value]="diaBan.value">
                      {{diaBan.display}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.id_diaBan.errors" class="help is-danger">
                    <div *ngIf="f.id_diaBan.errors.required" translate>id_diaBan is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label translate>id_dm_loaiThongBao</label><span style="color: red;">*</span>
                <div class="control">
                  <mat-select class="form-control input is-primary" formControlName="id_dm_loaiThongBao">
                    <mat-option *ngFor="let loaiThongBao of loaiThongBaos" [value]="loaiThongBao.value">
                      {{loaiThongBao.display}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.id_dm_loaiThongBao.errors" class="help is-danger">
                    <div *ngIf="f.id_dm_loaiThongBao.errors.required" translate>id_dm_loaiThongBao is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label translate>id_dm_loaiTin</label><span style="color: red;">*</span>
                <div class="control">
                  <mat-select class="form-control input is-primary" formControlName="id_dm_loaiTin">
                    <mat-option *ngFor="let loaiTin of loaiTins" [value]="loaiTin.value">
                      {{loaiTin.display}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.id_dm_loaiTin.errors" class="help is-danger">
                    <div *ngIf="f.id_dm_loaiTin.errors.required" translate>id_dm_loaiTin is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label translate>id_dm_cheDoPhat</label><span style="color: red;">*</span>
                <div class="control">
                  <mat-select class="form-control input is-primary" formControlName="id_dm_cheDoPhat">
                    <mat-option *ngFor="let cheDoPhat of cheDoPhats" [value]="cheDoPhat.value">
                      {{cheDoPhat.display}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.id_dm_cheDoPhat.errors" class="help is-danger">
                    <div *ngIf="f.id_dm_cheDoPhat.errors.required" translate>id_dm_cheDoPhat is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label translate>id_dm_kieuPhat</label><span style="color: red;">*</span>
                <div class="control">
                  <mat-select class="form-control input is-primary" formControlName="id_dm_kieuPhat">
                    <mat-option *ngFor="let kieuPhat of kieuPhats" [value]="kieuPhat.value">
                      {{kieuPhat.display}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.id_dm_kieuPhat.errors" class="help is-danger">
                    <div *ngIf="f.id_dm_kieuPhat.errors.required" translate>id_dm_kieuPhat is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label translate>id_dm_kieuLap</label><span style="color: red;">*</span>
                <div class="control">
                  <mat-select class="form-control input is-primary" formControlName="id_dm_kieuLap">
                    <mat-option *ngFor="let kieuLap of kieuLaps" [value]="kieuLap.value">
                      {{kieuLap.display}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.id_dm_kieuLap.errors" class="help is-danger">
                    <div *ngIf="f.id_dm_kieuLap.errors.required" translate>id_dm_kieuLap is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label translate>gioPhat</label><span style="color: red;">*</span>
                <div class="control">
                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <label class="input is-primary">{{gioPhat}}</label>
                          <button *ngIf="gioPhat.length >0" class="button-remove-giophat-custom" (click)="removeGioPhat()">
                            <i class="fa fa-remove fa-md"></i>
                          </button>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-md-10">
                          <input class="form-control input is-primary" type="time" value="13:00"
                            formControlName="gioPhat" [ngClass]="{ 'is-invalid': submitted && f.gioPhat.errors }" />
                        </div>
                        <div class="col-md-1">
                          <button (click)="addGioPhat(f.gioPhat.value)"
                            class="btn btn-primary">Add</button>
                        </div>
                      </div>
                    </mat-expansion-panel>

                  </mat-accordion>
                  <!-- <input class="form-control input is-primary" formControlName="gioPhat"
                    [ngClass]="{ 'is-invalid': submitted && f.gioPhat.errors }" /> -->
                  <div *ngIf="submitted && f.gioPhat.errors" class="help is-danger">
                    <div *ngIf="f.gioPhat.errors.required" translate>gioPhat is required</div>
                  </div>
                </div>
                <div>&nbsp;</div>
              </div>
              <div class="col-md-6">
                <label translate>tuNgay</label><span style="color: red;">*</span>
                <div class="control">
                  <input type="date" class="form-control input is-primary" formControlName="tuNgay"
                    [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
                  <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
                    <div *ngIf="f.tuNgay.errors.required" translate>tuNgay is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label translate>denNgay</label><span style="color: red;">*</span>
                <div class="control">
                  <input type="date" class="form-control input is-primary" formControlName="denNgay"
                    [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
                  <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
                    <div *ngIf="f.denNgay.errors.required" translate>denNgay is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group field">
              <label translate>ghiChu</label>
              <div class="control">
                <input class="form-control input is-primary" formControlName="ghiChu"
                  [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <div>&nbsp; </div>
        <ng-template mat-tab-label>
          <label translate>fileDinhKem</label>
        </ng-template>
        <div class="col-md-11">
          <div class="form-group row">
            <div class="control col-md-8">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input class="form-check-input is-primary" [formControl]="fileType" type="radio" name="fileType"
                    value="File">
                  <label class="form-check-label is-primary" translate> File </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input is-primary" [formControl]="fileType" type="radio" name="fileType"
                    value="Record">
                  <label class="form-check-label is-primary" translate> Record </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input is-primary" [formControl]="fileType" type="radio" name="fileType"
                    value="Text2Speech">
                  <label class="form-check-label is-primary" translate> Text2Speech </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="fileType.value == 'Text2Speech'">
            <textarea [formControl]="t2s_content" [value]="t2s_content.value" [rows]="2" [cols]="85" pInputTextarea
              autoResize="autoResize"></textarea>
            <div class="row">
              <div class="col-md-9">
                <label translate>giongDoc</label>
                <div class="control">
                  <mat-select class="form-control input is-primary" [formControl]="t2s_giong">
                    <mat-option value="vbee-tts-voice-sg_female_thaotrinh_news_48k-h">
                      Lê Minh (Nam miền Bắc)
                    </mat-option>
                    <mat-option value="banmai">
                      Ban Mai (Nữ miền Bắc)
                    </mat-option>
                    <mat-option value="thuminh">
                      Thu Minh (Nữ miền Bắc)
                    </mat-option>
                    <mat-option value="giahuy">
                      Gia Huy (Nam miền Trung)
                    </mat-option>
                    <mat-option value="myan">
                      Mỹ An (Nữ miền Trung)
                    </mat-option>
                    <mat-option value="lannhi">
                      Lan Nhi (Nữ miền Nam)
                    </mat-option>
                    <mat-option value="linhsan">
                      Linh San (Nữ miền Nam)
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-md-3">
                <label></label>
                <div class="control">
                  <button mat-button color="primary" (click)="textToSpeech()">
                    <span translate>DocVanBan</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
          <button mat-button color="primary" (click)="onClick()" *ngIf="fileType.value == 'File'">
            <mat-icon>file_upload</mat-icon>
            Choise File
          </button>
          <div *ngIf="fileType.value == 'Record'">
            <button mat-button color="primary" *ngIf="!isRecording" (click)="startRecording()"><span translate>Start
                Recording</span></button>
            <button mat-button color="primary" *ngIf="isRecording" (click)="stopRecording()"><span translate>Stop
                Recording</span></button>
          </div>

          <br />
          <ul>
            <li *ngFor="let file of files">
              <span id="file-label">
                <audio controls="">
                  <source [src]="sanitize(file)" type="audio/mp3">
                </audio>
                <audio *ngIf="dataTTS" controls="">
                  <source [src]=dataTTS.async type="audio/mp3">
                </audio>
                {{file.name}}
                <a title="Cancel" (click)="cancelFile(file)">
                  <mat-icon>cancel</mat-icon>
                </a>
              </span>
            </li>
          </ul>
          <div *ngIf="submitted && validateFile=== false" class="help is-danger">
            <div translate>noFileUploaded</div>
          </div>
          <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept=".mp3"
            style="display:none;" />
          <!-- <button mat-button class="border" (click)="onSubmit()" translate>Upload</button> -->
          <div class="row">
            <h4 translate>List Files Upload</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="mat-elevation-z8">
                  <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="index">
                      <mat-header-cell *matHeaderCellDef width="10%"> Index </mat-header-cell>
                      <mat-cell *matCellDef="let element; index as i">
                        {{paginator.pageSize * paginator.pageIndex + i + 1}}
                      </mat-cell>
                    </ng-container>
                    <!-- Code Column -->
                    <ng-container matColumnDef="filename" layout-align="center">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <div translate>filename </div>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.filename}} </mat-cell>
                    </ng-container>
                    <mat-cell matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef layout-align="center">

                      </mat-header-cell>

                      <mat-cell *matCellDef="let row;">
                        <button mat-icon-button color="lightGreen" (click)="downloadAttachFiles(row)">
                          <mat-icon aria-label="Download">get_app</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="clickMethodDelete(row)">
                          <mat-icon aria-label="Delete">delete</mat-icon>
                        </button>
                      </mat-cell>
                    </mat-cell>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                  </mat-table>
                  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" (click)="onSubmit()" cdkFocusInitial>Yes</button>
  </div>
</form>