<h2 mat-dialog-title translate>updateDuyet</h2>
<form [formGroup]="duyetForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>noiDung</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="noiDung"
          [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }" />
        <div *ngIf="submitted && f.noiDung.errors" class="help is-danger">
          <div *ngIf="f.noiDung.errors.required" translate>noiDung is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>id_dm_trangThaiDuyet</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_dm_trangThaiDuyet">
          <mat-option *ngFor="let trangThaiDuyet of trangThaiDuyets" [value]="trangThaiDuyet.value">
            {{trangThaiDuyet.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_dm_trangThaiDuyet.errors" class="help is-danger">
          <div *ngIf="f.id_dm_trangThaiDuyet.errors.required" translate>id_dm_trangThaiDuyet is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>ghiChu</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="ghiChu"
          [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>