<h2 mat-dialog-title  translate>Permission</h2>
<form [formGroup]="permissionForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group">
      <label translate>parent_id</label>
      <div class="control">
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-block input is-primary input" dropdownToggle>
            <label *ngIf="selectedParent">{{selectedParent.label}}</label>
            <label *ngIf="!selectedParent">&nbsp; </label>
            <label class="dropdown-toggle dropdown-toggle-right1"></label>
          </button>
          <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
            <p-tree [value]="permissionTrees" selectionMode="single" [(selection)]="selectedParent"
              (onNodeSelect)="nodeSelect($event)"></p-tree>
          </div>
        </div>
        <div *ngIf="submitted && f.parent_id.errors" class="help is-danger">
          <div *ngIf="f.parent_id.errors.required" translate>parent_id is required</div>
        </div>        
      </div>
    </div>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
          <div *ngIf="f.code.errors.required" translate>code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>description</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>sortOrder</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
          <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
            <div *ngIf="f.sortOrder.errors.required" translate>sortOrder is required</div>
            <div *ngIf="f.sortOrder.errors.min" translate>sortOrder min = 0</div>
          </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>