<h2 mat-dialog-title  translate>Role</h2>
<form [formGroup]="roleForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
          <div *ngIf="f.code.errors.required" translate>code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>description</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>sortOrder</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
          <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
            <div *ngIf="f.sortOrder.errors.required" translate>sortOrder is required</div>
            <div *ngIf="f.sortOrder.errors.min" translate>sortOrder min = 0</div>
          </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate>Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate>Save</span></button>
  </div>
</form>