<h2 mat-dialog-title translate>UpdateGroup</h2>
<form [formGroup]="groupForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>name is required</div>
        </div>
      </div>
    </div>
    <!-- <div class="form-group field">
      <label translate>licenseKey</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="licenseKey"
          [ngClass]="{ 'is-invalid': submitted && f.licenseKey.errors }" />
      </div>
    </div> -->
    <div class="form-group field">
      <label translate>description</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>