<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateCanBoKyLuat</h2>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>soQuyetDinh</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="soQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.soQuyetDinh.errors }" />
          <div *ngIf="submitted && f.soQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>ngayQuyetDinh</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.ngayQuyetDinh.errors }" />
          <div *ngIf="submitted && f.ngayQuyetDinh.errors" class="help is-danger">
            <div *ngIf="f.ngayQuyetDinh.errors.required" translate>ngayQuyetDinh is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_capQuyetDinh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capQuyetDinh"
          [ngClass]="{ 'is-invalid': submitted && f.id_capQuyetDinh.errors }">
          <mat-option *ngFor="let capquyetdinh of lstcapquyetdinh" [value]="capquyetdinh.value">
            {{capquyetdinh.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_capQuyetDinh.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_hinhThucKyLuat</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_hinhThucKyLuat"
          [ngClass]="{ 'is-invalid': submitted && f.id_hinhThucKyLuat.errors }">
          <mat-option *ngFor="let hinhthuckyluat of lsthinhthuckyluat" [value]="hinhthuckyluat.value">
            {{hinhthuckyluat.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_hinhThucKyLuat.errors" class="help is-danger">
          <div *ngIf="f.id_hinhThucKyLuat.errors.required" translate>id_hinhThucKyLuat is required</div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_loaiHinhThucKyLuat</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiHinhThucKyLuat"
          [ngClass]="{ 'is-invalid': submitted && f.id_loaiHinhThucKyLuat.errors }">
          <mat-option *ngFor="let loai of lstloaihinhthuckyluat" [value]="loai.value">
            {{loai.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_loaiHinhThucKyLuat.errors" class="help is-danger">
          <div *ngIf="f.id_loaiHinhThucKyLuat.errors.required" translate>id_loaiHinhThucKyLuat is required</div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>tuNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay"
            [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
          <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
            <div *ngIf="f.tuNgay.errors.required" translate>tuNgay is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>denNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="denNgay"
            [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
          <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>noiDung</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="noiDung"
            [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }" />
          <div *ngIf="submitted && f.noiDung.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>hinhThucKyLuatBoSung</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="hinhThucKyLuatBoSung"
            [ngClass]="{ 'is-invalid': submitted && f.hinhThucKyLuatBoSung.errors }" />
          <div *ngIf="submitted && f.hinhThucKyLuatBoSung.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>