<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateCanBoSucKhoeHangNam</h2>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_xepLoaiSucKhoe</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_xepLoaiSucKhoe"
            [ngClass]="{ 'is-invalid': submitted && f.id_xepLoaiSucKhoe.errors }">
            <mat-option *ngFor="let xlsk of lstxeploaisuckhoe" [value]="xlsk.value">
              {{xlsk.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_xepLoaiSucKhoe.errors" class="help is-danger">
            <div *ngIf="f.id_xepLoaiSucKhoe.errors.required" translate>id_xepLoaiSucKhoe is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>nam</label>
        <div class="control">
          <input type="number" class="form-control input is-primary" formControlName="nam"
            [ngClass]="{ 'is-invalid': submitted && f.nam.errors }" />
          <div *ngIf="submitted && f.nam.errors" class="help is-danger">
            <div *ngIf="f.nam.errors" translate>nam Invalid</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>huyetAp</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="huyetAp"
            [ngClass]="{ 'is-invalid': submitted && f.huyetAp.errors }" />
          <div *ngIf="submitted && f.huyetAp.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>canNang</label>
        <div class="control">
          <input type="number" class="form-control input is-primary" formControlName="canNang"
            [ngClass]="{ 'is-invalid': submitted && f.canNang.errors }" />
          <div *ngIf="submitted && f.canNang.errors" class="help is-danger">
            <div *ngIf="f.canNang.errors" translate>canNang Invalid</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>chieuCao</label>
        <div class="control">
          <input type="number" class="form-control input is-primary" formControlName="chieuCao"
            [ngClass]="{ 'is-invalid': submitted && f.chieuCao.errors }" />
          <div *ngIf="submitted && f.chieuCao.errors" class="help is-danger">
            <div *ngIf="f.chieuCao.errors" translate>chieuCao Invalid</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>