<div class="animated fadeIn">
  <div class="row" *ngIf="data">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-info" [routerLink]="['/device']">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">{{data.sLDevice}}</div>
          <div class="text-value" translate>id_device</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
            [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-primary" [routerLink]="['/diaban']">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0">
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">{{data.sLDiaBan}}</div>
          <div class="text-value" translate>id_diaBan</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
            [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-warning" [routerLink]="['/qltb/thongbao']">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-transparent dropdown-toggle p-0">
              <i class="icon-settings"></i>
            </button>
          </div>
          <div class="text-value">&nbsp;</div>
          <div class="text-value" translate>quanLyThongBao</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
            [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->

  </div>
  <!--/.row-->
  <div class="card">
    <div class="card-body" *ngIf="loadChart == true">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0" translate>soLuongThietBiTheoDiaBan</h4>
        </div>
        <!--/.col-->
        <!-- <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
          </div>
        </div>/.col -->
      </div>
      <!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <p-chart type="line" width="70vw" height="300px" [data]="chartData" [options]="optionsChart()">
        </p-chart>

        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>

      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>

    </div>
    <div class="card-footer">
    </div>
  </div>
  <!--/.card-->
  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" translate> thongBaoDangPhat </div>
        <div class="card-body">
          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0" *ngIf="data && data.thongBaos">
            <thead class="thead-light">
              <tr>
                <th class="text-center"> Index</th>
                <th class="text-center" translate>noiDung</th>
                <th class="text-center" translate>tuNgay</th>
                <th class="text-center" translate>denNgay</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.thongBaos; let i = index">
                <td class="text-center" *ngIf="i < 9">
                  {{i+1}}
                </td>
                <td class="text-center" *ngIf="i < 9">
                  {{item.noiDung}}
                </td>
                <td class="text-center" *ngIf="i < 9">
                  {{item.tuNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
                </td>
                <td class="text-center" *ngIf="i < 9">
                  {{item.denNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>