<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/configuration']" translate>configuration</a>&nbsp;/&nbsp;
      <strong translate>updateConfig</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="configForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab>
            <div>&nbsp; </div>
            <ng-template mat-tab-label>
              <label translate>thietLapChung</label>
            </ng-template>
            <div mat-dialog-content>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>name</label>
                </div>
                <div class="control col-md-6">
                  <input class="form-control input is-primary" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="help is-danger">
                    <div *ngIf="f.name.errors.required" translate>name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>description</label>
                </div>
                <div class="control col-md-6">
                  <input class="form-control input is-primary" formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                  <div *ngIf="submitted && f.description.errors" class="help is-danger">
                    <div *ngIf="f.description.errors.required" translate>description is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>password</label>
                </div>
                <div class="control col-md-6">
                  <input type="password" class="form-control input is-primary" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="help is-danger">
                    <div *ngIf="f.password.errors.required" translate>password is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>blockStatusBar</label>
                </div>
                <div class="control col-md-6 float-left">
                  <input type="checkbox" class="margin float-left" formControlName="blockStatusBar"
                    [ngClass]="{ 'is-invalid': submitted && f.blockStatusBar.errors }" />
                  <div *ngIf="submitted && f.blockStatusBar.errors" class="help is-danger">
                    <div *ngIf="f.blockStatusBar.errors.required" translate>blockStatusBar is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>gps</label>
                </label>
                <div class="control col-md-6">
                  <mat-select class="form-control input is-primary" formControlName="gps"
                    [ngClass]="{ 'is-invalid': submitted && f.gps.errors }">
                    <mat-option>
                      <span translate>None</span>
                    </mat-option>
                    <mat-option value="pushOptions.id">
                      <span translate>khongTheoDoi</span>
                    </mat-option>
                    <mat-option value="MQTTSaveBattery">
                      <span translate>gps</span>
                    </mat-option>
                    <mat-option value="HTTP polling">
                      <span translate>wifi</span>
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.gps.errors" class="help is-danger">
                    <div *ngIf="f.gps.errors.required" translate>gps is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>pushOptions</label>
                </label>
                <div class="control col-md-6">
                  <mat-select class="form-control input is-primary" formControlName="pushOptions"
                    [ngClass]="{ 'is-invalid': submitted && f.pushOptions.errors }">
                    <mat-option>
                      <span translate>None</span>
                    </mat-option>
                    <mat-option value="pushOptions.id">
                      <span translate>MQTT Instant Delivery</span>
                    </mat-option>
                    <mat-option value="MQTTSaveBattery">
                      <span translate>MQTT Save Battery</span>
                    </mat-option>
                    <mat-option value="HTTP polling">
                      <span translate>HTTP polling</span>
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.pushOptions.errors" class="help is-danger">
                    <div *ngIf="f.pushOptions.errors.required" translate>pushOptions is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>gps</label>
                </label>
                <div class="control col-md-6">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="1">
                      <label class="form-check-label is-primary" for="inlineRadio1" translate> Yes </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="0">
                      <label class="form-check-label is-primary" translate> No </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="2">
                      <label class="form-check-label is-primary" translate> Not recorded </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>bluetooth</label>
                </label>
                <div class="control col-md-6">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="bluetooth" type="radio"
                        name="bluetooth" value="1">
                      <label class="form-check-label is-primary" for="inlineRadio1" translate> Yes </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="bluetooth" type="radio"
                        name="bluetooth" value="0">
                      <label class="form-check-label is-primary" translate> No </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="bluetooth" type="radio"
                        name="bluetooth" value="2">
                      <label class="form-check-label is-primary" translate> Not recorded </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>wifi</label>
                </label>
                <div class="control col-md-6">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="wifi" type="radio" name="wifi"
                        value="1">
                      <label class="form-check-label is-primary" for="inlineRadio1" translate> Yes </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="wifi" type="radio" name="wifi"
                        value="0">
                      <label class="form-check-label is-primary" translate> No </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="wifi" type="radio" name="wifi"
                        value="2">
                      <label class="form-check-label is-primary" translate> Not recorded </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>mobileData</label>
                </label>
                <div class="control col-md-6">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="mobileData" type="radio"
                        name="mobileData" value="1">
                      <label class="form-check-label is-primary" for="inlineRadio1" translate> Yes </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="mobileData" type="radio"
                        name="mobileData" value="0">
                      <label class="form-check-label is-primary" translate> No </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="mobileData" type="radio"
                        name="mobileData" value="2">
                      <label class="form-check-label is-primary" translate> Not recorded </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>usbStorage</label>
                </div>
                <div class="control col-md-6">
                  <input type="checkbox" class="margin float-left" formControlName="usbStorage"
                    [ngClass]="{ 'is-invalid': submitted && f.usbStorage.errors }" />
                  <div *ngIf="submitted && f.usbStorage.errors" class="help is-danger">
                    <div *ngIf="f.usbStorage.errors.required" translate>usbStorage is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>doSang</label>
                </label>
                <div class="control col-md-6">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="1">
                      <label class="form-check-label is-primary" for="inlineRadio1" translate> giaTri </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="0">
                      <label class="form-check-label is-primary" translate> No </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="2">
                      <label class="form-check-label is-primary" translate>tuDong</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>doSangManHinh</label>
                </div>
                <div class="control col-md-6">
                  <input type="number" class="form-control input is-primary" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="help is-danger">
                    <div *ngIf="f.name.errors.required" translate>name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>manHinhCho</label>
                </div>
                <div class="control col-md-6">
                  <input type="checkbox" class="margin float-left" formControlName="manageTimeout"
                    [ngClass]="{ 'is-invalid': submitted && f.manageTimeout.errors }" />
                  <div *ngIf="submitted && f.manageTimeout.errors" class="help is-danger">
                    <div *ngIf="f.manageTimeout.errors.required" translate>manageTimeout is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>thoiGianManHinhCho(s)</label>
                </div>
                <div class="control col-md-6">
                  <input type="number" class="form-control input is-primary" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="help is-danger">
                    <div *ngIf="f.name.errors.required" translate>name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>lockVolume</label>
                </div>
                <div class="control col-md-6">
                  <input type="checkbox" class="margin float-left" formControlName="lockVolume"
                    [ngClass]="{ 'is-invalid': submitted && f.lockVolume.errors }" />
                  <div *ngIf="submitted && f.lockVolume.errors" class="help is-danger">
                    <div *ngIf="f.lockVolume.errors.required" translate>lockVolume is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>capNhatHeThong</label>
                </label>
                <div class="control col-md-7">
                  <div class="col-md-12">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="1">
                      <label class="form-check-label is-primary" for="inlineRadio1" translate> lapTuc </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="0">
                      <label class="form-check-label is-primary" translate> macDinh </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="2">
                      <label class="form-check-label is-primary" translate> lenKeHoach</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input is-primary" formControlName="gps" type="radio" name="gps"
                        value="3">
                      <label class="form-check-label is-primary" translate>hoanLai</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>pushOptions</label>
                </label>
                <div class="control col-md-6">
                  <mat-select class="form-control input is-primary" formControlName="pushOptions"
                    [ngClass]="{ 'is-invalid': submitted && f.pushOptions.errors }">
                    <mat-option>
                      <span translate>None</span>
                    </mat-option>
                    <mat-option value="pushOptions.id">
                      <span translate>no</span>
                    </mat-option>
                    <mat-option value="De">
                      <span translate>de</span>
                    </mat-option>
                    <mat-option value="TB">
                      <span translate>trungBinh</span>
                    </mat-option>
                    <mat-option value="Manh">
                      <span translate>manh</span>
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.pushOptions.errors" class="help is-danger">
                    <div *ngIf="f.pushOptions.errors.required" translate>pushOptions is required</div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <div>&nbsp; </div>
            <ng-template mat-tab-label>
              <label translate>application</label>
            </ng-template>
            <div mat-dialog-content>
              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSourceApp" matSort>

                  <ng-container matColumnDef="pkg">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>pkg </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.pkg}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>name </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="version">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>version </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.version}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="activity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>activity </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.activity}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="icon">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>icon </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.icon}} </mat-cell>
                  </ng-container>
                  <mat-cell matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      <button [routerLink]="['update/']" mat-icon-button color="primary"
                        *ngIf="permission.Configuration._insert">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;">
                      <mat-select id="actions" placeholder="Tùy chọn">
                        <mat-option [routerLink]="['update/'+row.id]" *ngIf="permission.Configuration._update">
                          <button mat-icon-button>
                            <mat-icon aria-label="Edit">edit</mat-icon>
                            <label translate>Edit</label>
                          </button>
                        </mat-option>
                        <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.Configuration._delete">
                          <button mat-icon-button>
                            <mat-icon aria-label="Delete">delete</mat-icon>
                            <label translate>Delete</label>
                          </button>
                        </mat-option>
                      </mat-select>
                    </mat-cell>
                  </mat-cell>
                  <mat-header-row *matHeaderRowDef="displayedColumnApps"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnApps;"
                    [ngClass]="{ 'selected': row == selectedRow }" (click)="onSelectedRow(row)">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <div>&nbsp; </div>
            <ng-template mat-tab-label>
              <label translate>caiDatMDM</label>
            </ng-template>
            <div mat-dialog-content>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>ungDungChinh</label>
                </div>
                <div class="control col-md-6">
                  <input class="form-control input is-primary" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="help is-danger">
                    <div *ngIf="f.name.errors.required" translate>name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>wifiSSID</label>
                </div>
                <div class="control col-md-6">
                  <input class="form-control input is-primary" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="help is-danger">
                    <div *ngIf="f.name.errors.required" translate>name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>matKhauMangWifi</label>
                </div>
                <div class="control col-md-6">
                  <input class="form-control input is-primary" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="help is-danger">
                    <div *ngIf="f.name.errors.required" translate>name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <label class="col-md-2"> </label> <label class="col-md-2">
                  <label translate>loaiBaoMatWifi</label>
                </label>
                <div class="control col-md-6">
                  <mat-select class="form-control input is-primary" formControlName="gps"
                    [ngClass]="{ 'is-invalid': submitted && f.gps.errors }">
                    <mat-option>
                      <span translate>None</span>
                    </mat-option>
                    <mat-option value="pushOptions.id">
                      <span translate>WPA</span>
                    </mat-option>
                    <mat-option value="MQTTSaveBattery">
                      <span translate>WEP</span>
                    </mat-option>
                    <mat-option value="HTTP polling">
                      <span translate>EAP</span>
                    </mat-option>
                  </mat-select>
                  <div *ngIf="submitted && f.gps.errors" class="help is-danger">
                    <div *ngIf="f.gps.errors.required" translate>gps is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row col-md-11">
                <div class="col-md-2"> </div>
                <div class="col-md-2">
                  <label translate>QRCode</label>
                </div>
                <div class="control col-md-6">
                  <input class="form-control input is-primary" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="help is-danger">
                    <div *ngIf="f.name.errors.required" translate>name is required</div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <div>&nbsp; </div>
            <ng-template mat-tab-label>
              <label translate>files</label>
            </ng-template>
            <div mat-dialog-content>
              <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSourceFile" matSort>

                  <ng-container matColumnDef="url">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>url </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.url}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="link">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>link </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.link}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>description </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="createDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>createDate </label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.createDate}} </mat-cell>
                  </ng-container>
                  <mat-cell matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      <button [routerLink]="['update/']" mat-icon-button color="primary"
                        *ngIf="permission.Configuration._insert">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;">
                      <mat-select id="actions" placeholder="Tùy chọn">
                        <mat-option [routerLink]="['update/'+row.id]" *ngIf="permission.Configuration._update">
                          <button mat-icon-button>
                            <mat-icon aria-label="Edit">edit</mat-icon>
                            <label translate>Edit</label>
                          </button>
                        </mat-option>
                        <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.Configuration._delete">
                          <button mat-icon-button>
                            <mat-icon aria-label="Delete">delete</mat-icon>
                            <label translate>Delete</label>
                          </button>
                        </mat-option>
                      </mat-select>
                    </mat-cell>
                  </mat-cell>
                  <mat-header-row *matHeaderRowDef="displayedColumnFiles"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnFiles;"
                    [ngClass]="{ 'selected': row == selectedRow }" (click)="onSelectedRow(row)">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

        <div mat-dialog-actions>
          <div class="float-center">
            <button mat-button class="float-center" type="button" (click)="onNoClick()">No</button>
            <button mat-button class="float-center" type="submit" cdkFocusInitial>Yes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>