<h2 mat-dialog-title translate>tq_dqtv.quanLyGiaoVien.update.title</h2>
<form [formGroup]="quanLyGiaoVienForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>id_truongHoc</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="id_truongHoc"
          [ngClass]="{ 'is-invalid': submitted && f.id_truongHoc.errors }" />
        <div *ngIf="submitted && f.id_truongHoc.errors" class="help is-danger">
          <div *ngIf="f.id_truongHoc.errors.required" translate>validate.id_truongHoc.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>nhuCau</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="nhuCau"
          [ngClass]="{ 'is-invalid': submitted && f.nhuCau.errors }" />
        <div *ngIf="submitted && f.nhuCau.errors" class="help is-danger">
          <div *ngIf="f.nhuCau.errors.required" translate>validate.nhuCau.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>ctDTCQ</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="ctDTCQ"
          [ngClass]="{ 'is-invalid': submitted && f.ctDTCQ.errors }" />
        <div *ngIf="submitted && f.ctDTCQ.errors" class="help is-danger">
          <div *ngIf="f.ctDTCQ.errors.required" translate>validate.ctDTCQ.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>ctVB2</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="ctVB2"
          [ngClass]="{ 'is-invalid': submitted && f.ctVB2.errors }" />
        <div *ngIf="submitted && f.ctVB2.errors" class="help is-danger">
          <div *ngIf="f.ctVB2.errors.required" translate>validate.ctVB2.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>ctCCTren6Thang</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="ctCCTren6Thang"
          [ngClass]="{ 'is-invalid': submitted && f.ctCCTren6Thang.errors }" />
        <div *ngIf="submitted && f.ctCCTren6Thang.errors" class="help is-danger">
          <div *ngIf="f.ctCCTren6Thang.errors.required" translate>validate.ctCCTren6Thang.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>bctVB2</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="bctVB2"
          [ngClass]="{ 'is-invalid': submitted && f.bctVB2.errors }" />
        <div *ngIf="submitted && f.bctVB2.errors" class="help is-danger">
          <div *ngIf="f.bctVB2.errors.required" translate>validate.bctVB2.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>bctCCTren6Thang</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="bctCCTren6Thang"
          [ngClass]="{ 'is-invalid': submitted && f.bctCCTren6Thang.errors }" />
        <div *ngIf="submitted && f.bctCCTren6Thang.errors" class="help is-danger">
          <div *ngIf="f.bctCCTren6Thang.errors.required" translate>validate.bctCCTren6Thang.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>SQBietPhai</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="SQBietPhai"
          [ngClass]="{ 'is-invalid': submitted && f.SQBietPhai.errors }" />
        <div *ngIf="submitted && f.SQBietPhai.errors" class="help is-danger">
          <div *ngIf="f.SQBietPhai.errors.required" translate>validate.SQBietPhai.required</div>
        </div>
      </div>
    </div>

    <div class="form-group field">
      <label translate>ghiChu</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="ghiChu"
          [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>sortOrder</label>
      <div class="control">
        <input class="form-control input is-primary" type="number" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
        <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
          <div *ngIf="f.sortOrder.errors.required" translate>validate.sortOrder.required</div>
          <div *ngIf="f.sortOrder.errors.min" translate>validate.sortOrder.min0</div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"> <span translate>common.cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate>common.save</span></button>
  </div>
</form>