<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>tq_dqtv.quanLyGiaoVien.title</strong>
    </div>
    <div class="card-body">
      <!--phần năm,tháng,đơn vị-->
      <form [formGroup]="searchForm" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>qpan.quanlygiaovien.nam</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="nam"
                [ngClass]="{ 'is-invalid': submitted && f.nam.errors }">
                <mat-option *ngFor="let number of numbers" [value]="number">
                  {{number}}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <div class="form-group col-sm-3">
            <label translate>qpan.quanlygiaovien.thang</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="thang"
                [ngClass]="{ 'is-invalid': submitted && f.nam.errors }">
                <mat-option [value]=1>1</mat-option>
                <mat-option [value]=2>2</mat-option>
                <mat-option [value]=3>3</mat-option>
                <mat-option [value]=4>4</mat-option>
                <mat-option [value]=5>5</mat-option>
                <mat-option [value]=6>6</mat-option>
                <mat-option [value]=7>7</mat-option>
                <mat-option [value]=8>8</mat-option>
                <mat-option [value]=9>9</mat-option>
                <mat-option [value]=10>10</mat-option>
                <mat-option [value]=11>11</mat-option>
                <mat-option [value]=12>12</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="form-group col-sm-3">
            <label translate>qpan.quanlygiaovien.donvi</label>
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>tq.congDan.id_donViQuanLy </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
                    textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_donVis" [checkBy]="'data'">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary">Lưu</button>
              <button type="submit" class="button is-primary">Xuất báo cáo</button>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="id_truongHoc">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>id_truongHoc</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.id_truongHoc}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nhuCau">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>nhuCau</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.nhuCau}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ctDTCQ">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ctDTCQ</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.ctDTCQ}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ctVB2">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ctVB2</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.ctVB2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ctCCTren6Thang">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ctCCTren6Thang</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.ctCCTren6Thang}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="bctVB2">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>bctVB2</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.bctVB2}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="bctCCTren6Thang">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>bctCCTren6Thang</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.bctCCTren6Thang}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="SQBietPhai">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>SQBietPhai</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.SQBietPhai}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ghiChu">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ghiChu</label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.ghiChu}} </mat-cell>
            </ng-container>
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.GD_QPAN_DoiTuong._insert">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.GD_QPAN_DoiTuong._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>common.edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.GD_QPAN_DoiTuong._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>


