<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/hscb']" translate>hscb</a>&nbsp;/&nbsp;
      <strong translate>titleTinhHuyenXa</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>hscb.dmTinh</strong>
            </div>
            <mat-table [dataSource]="dataSource1" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef layout-align="center">
                  <button mat-icon-button color="primary" (click)="openAddDialog(['','hscb.dmTinh'])"
                    *ngIf="permission.HSCB_Tinh_Huyen_Xa._insert">
                    <mat-icon aria-label="Add">add</mat-icon>
                  </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openEditDialog([row,'hscb.dmTinh'])"
                    *ngIf="permission.HSCB_Tinh_Huyen_Xa._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="openDeleteDialog([row,'hscb.dmTinh'])"
                    *ngIf="permission.HSCB_Tinh_Huyen_Xa._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns1;" (click)="getHuyen(row)"
                [ngClass]="{ 'selected': row == selectedRow1 }">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable1">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>hscb.dmHuyen</strong>
            </div>
            <mat-table [dataSource]="dataSource2" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary"
                    *ngIf="rowTinh && permission.HSCB_Tinh_Huyen_Xa._insert"
                    (click)="openAddDialog([rowTinh.id,'hscb.dmHuyen'])">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openEditDialog([row,'hscb.dmHuyen'])"
                    *ngIf="permission.HSCB_Tinh_Huyen_Xa._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="openDeleteDialog([row,'hscb.dmHuyen'])"
                    *ngIf="permission.HSCB_Tinh_Huyen_Xa._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns2;" (click)="getXa(row)"
                [ngClass]="{ 'selected': row == selectedRow2 }">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable2">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>hscb.dmXa</strong>
            </div>
            <mat-table [dataSource]="dataSource3" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary" *ngIf="rowHuyen && permission.HSCB_Tinh_Huyen_Xa._insert"
                    (click)="openAddDialog([rowHuyen.id,'hscb.dmXa'])">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openEditDialog([row,'hscb.dmXa'])"
                    *ngIf="permission.HSCB_Tinh_Huyen_Xa._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="openDeleteDialog([row,'hscb.dmXa'])"
                    *ngIf="permission.HSCB_Tinh_Huyen_Xa._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns3;" [ngClass]="{ 'selected': row == selectedRow3 }"
                (click)="onSelectedRow(row)">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable3">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>