/* .container {
  max-width: 900px;
  justify-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 80%;
  padding-left: 80px;
  padding-top: 8%;
} */

/* .example-card {
  padding-left: 105px;
} */

.example-full-width {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  /* padding-left: 100px; */
  align-items: stretch;
}

.example-card-two {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}