<mat-accordion>
  <!-- #docregion basic-panel -->
  <!-- #docregion hide-toggle -->
  <mat-expansion-panel hideToggle>
    <!-- #enddocregion hide-toggle -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong> 1. Quá trình công tác</strong>
      </mat-panel-title>
      <mat-panel-description>
        1
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-table [dataSource]="dataSource1" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell class="index" *matHeaderCellDef>
          <label>Index </label>
        </th>
        <td mat-cell class="index" *matCellDef="let element; index as i">
          {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="tuNgay">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tuNgay </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tuNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="denNgay">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>denNgay </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.denNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tenDonVi">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenDonVi </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tenDonVi}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="soQuyetDinh">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>soQuyetDinh </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.soQuyetDinh}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="noiLamViec">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>noiLamViec </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.noiLamViec}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tenChucDanh">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenChucDanh </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tenChucDanh}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tenChucVu">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenChucVu </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tenChucVu}} </mat-cell>
      </ng-container>
      <!-- Actions Column-->
      <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
    </mat-table>
  </mat-expansion-panel>
  <!-- #enddocregion basic-panel -->
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong> 2. Hợp đồng lao động</strong>
      </mat-panel-title>
      <mat-panel-description>
        2
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-table [dataSource]="dataSource2" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell class="index" *matHeaderCellDef>
          <label>Index </label>
        </th>
        <td mat-cell class="index" *matCellDef="let element; index as i">
          {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="soHopDong">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>soHopDong </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.soHopDong}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tuNgay">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tuNgay </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tuNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="denNgay">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>denNgay </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.denNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tenChucDanh">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenChucDanh </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tenChucDanh}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="tenChucVu">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenChucVu </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.tenChucVu}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="chucDanhChuyenMon">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>chucDanhChuyenMon </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.chucDanhChuyenMon}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="diaDiemLamViec">
        <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>diaDiemLamViec </label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.diaDiemLamViec}} </mat-cell>
      </ng-container>
      <!-- Actions Column-->
      <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>