<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/canbo']" translate>canbo</a>&nbsp;/&nbsp;
      <strong translate>canbo</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-4">
            <label translate>id_donVi</label>
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>id_donVi</label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <kendo-treeview class="treeview" [nodes]="dataTree" [children]="children" [hasChildren]="hasChildren"
                    textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="checkedKeys" [checkBy]="key">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label translate>ngay</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="ngay" />
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary">
                <i class="fa fa-search"></i> Search
              </button>
            </div>
          </div>
        </div>
      </form>
      <!-- </mat-expansion-panel> -->
      <div class="container">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-form-field class="example-full-width">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </mat-card-header>
          <mat-card-content class="grid">
            <mat-card class="example-card-two" *ngFor="let user of this.dataSource.filteredData">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{user.hoTen}}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p style="text-align:center">
                  {{user.tenDonVi}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button [routerLink]="['/hscb/', 'thongtin-chitiet', user.canbo_id]" *ngIf="permission.HSCB_CanBoQuaTrinhCongTac._insert">LIKE</button>
              </mat-card-actions>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>