<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>tq.dbdv2.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>common.ngay</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="ngay" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>&nbsp;</label>
            <div class="control">
              <div class="input-group-prepend" dropdown>
                <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                  <label translate>tq.congDan.id_donViQuanLy </label>
                  <label class="dropdown-toggle dropdown-toggle-right"></label>
                </button>
                <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                  <!-- <p-tree [value]="donVis" selectionMode="checkbox" [(selection)]="selectedBaoCaos"></p-tree> -->
                  <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
                    textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                    [(checkedKeys)]="id_donVis" [checkBy]="'value'">
                  </kendo-treeview>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="form-group col-sm-3">
            <label translate>tq.congDan.doiTuong</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="doiTuong">
                <mat-option *ngFor="let number of numbers" [value]="number">
                  <span translate>tq.congDan.doiTuong</span>&nbsp;{{number}}
                </mat-option>
              </mat-select>
            </div>
          </div> -->
          <div class="form-group col-sm-3">
            <label translate>common.hoTenCMT</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="content" />
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label>&nbsp;</label>
            <div class="control">
              <button type="submit" mat-button class="button btn is-primary float-right"><i class="fa fa-search"></i>
                <span translate>common.search</span></button>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label>&nbsp;</label>
            <div class="control">
              <button type="button" mat-button (click)="openUpdateBienCheDialog()" class="button border"><span
                  translate>tq.congDan.bienChe</span> </button>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label>&nbsp;</label>
            <div class="control">
              <button type="button" mat-button (click)="openUpdateDongVienDialog()" class="button border"><span
                  translate>tq.congDan.duDkDongVien</span> </button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef fxFlex="10%">
                <input type="checkbox" (change)="checkAll($event.target.checked)" id='all'>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="mat-center" fxFlex="10%">
                <label *ngIf="row.checked=== true"><input type="checkbox" (click)="row.checked = false"
                    [value]="row.checked" [id]="row.id" (change)="row.checked = false" checked="true"></label>
                <label *ngIf="row.checked === false"><input type="checkbox" (click)="row.checked = true"
                    [value]="row.checked" [id]="row.id" (change)="row.checked = true">
                </label>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hoTen">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>common.hoTen </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.hoTen}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="duDkDongVien">
              <mat-header-cell *matHeaderCellDef fxFlex="10%" mat-sort-header><label translate>tq.dbdv.duDkDongVien
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="10%">
                 <span *ngIf="row.dkDongVien == 1" translate> common.yes </span>
                 <span *ngIf="row.dkDongVien == 0|| !row.dkDongVien" translate> common.no </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="donViDbdv">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.dbdv.donViDbdv
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.tenDonViDbdv}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_capBac">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.dbdv.id_capBac
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.tenCapBac}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_quanHam">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.dbdv.id_quanHam
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.tenQuanHam}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="viTriBienChe">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.dbdv.viTriBienChe
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.noiDung}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cmnd">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>common.cmnd
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.cmnd}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_donViQuanLy">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.congDan.id_donViQuanLy
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.tenDonViQuanLy}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayBienChe">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.dbdv.ngayBienChe </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.tuNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngaySinh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.ngaySinh </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.ngaySinh | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <!-- <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.TQ_CongDan._insert">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button> -->
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <!-- <mat-option (click)="openDetailDialog(row)">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>viewDetail</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openUpdateDialog({type: 'congDan', body:row})" *ngIf="permission.TQ_CongDan._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>Edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.TQ_CongDan._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>Delete</label>
                    </button>
                  </mat-option>-->
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 200, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>