<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title *ngIf="data"><span translate>tq.congDan.bcdbdv.update.title</span>&nbsp;{{data.hang}}</h2>
    <div class="form-group field">
      <label translate>tq.bcdbdv.id_donViDbdv</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_donViDbdv"
          [ngClass]="{ 'is-invalid': submitted && f.id_donViDbdv.errors }">
          <mat-option *ngFor="let donViDbdv of donViDbdvs" [value]="donViDbdv.id">
            {{donViDbdv.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_donViDbdv.errors" class="help is-danger">
          <div *ngIf="f.id_donViDbdv.errors.required" translate>tq.congDan.validate.id_donViDbdv.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.ngay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
        <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
          <div *ngIf="f.tuNgay.errors.required" translate>common.validate.ngay.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.bcdbdv.id_capBac</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capBac"
          [ngClass]="{ 'is-invalid': submitted && f.id_capBac.errors }">
          <mat-option *ngFor="let capBac of capBacs" [value]="capBac.id">
            {{capBac.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_capBac.errors" class="help is-danger">
          <div *ngIf="f.id_capBac.errors.required" translate>tq.bcdbdv.validate.id_capBac.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.bcdbdv.viTriSapXep</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="noiDung"
          [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }">
          <mat-option value="Đúng">
           Đúng
          </mat-option>
          <mat-option value="Gần đúng">
            Gần đúng
           </mat-option>
           <mat-option value="Không đúng">
            Không đúng
           </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.noiDung.errors" class="help is-danger">
          <div *ngIf="f.noiDung.errors.required" translate>tq.bcdbdv.validate.viTriSapXep.required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>