<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title *ngIf="data"><span translate>tq.dongVien.update.title</span>&nbsp;{{data.hang}}</h2>
    <div class="form-group field">
      <label translate>tq.bcdbdv.dkDongVien</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="dkDongVien"
          [ngClass]="{ 'is-invalid': submitted && f.dkDongVien.errors }">
          <mat-option value="1">
            Đủ điều kiện động viên
          </mat-option>
          <mat-option value="0">
            Chưa đủ điều kiện động viên
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.dkDongVien.errors" class="help is-danger">
          <div *ngIf="f.dkDongVien.errors.required" translate>tq.congDan.validate.dkDongVien.required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>