<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title *ngIf="data"><span translate>tq.dkdbdv.update.title</span>&nbsp;{{data.hang}}</h2>
    <div class="form-group field">
      <label translate>tq.dkdbdv.loaiDangKy</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="noiDung"
          [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }">
          <mat-option value="Đăng ký chung">
            Đăng ký chung
          </mat-option>
          <mat-option value="Đăng ký riêng">
            Đăng ký riêng
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.noiDung.errors" class="help is-danger">
          <div *ngIf="f.noiDung.errors.required" translate>tq.dkdbdv.validate.loaiDangKy.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.ngay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
        <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
          <div *ngIf="f.tuNgay.errors.required" translate>common.validate.ngay.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.congDan.id_quanHam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_quanHam"
          [ngClass]="{ 'is-invalid': submitted && f.id_quanHam.errors }">
          <mat-option *ngFor="let quanHam of quanHams" [value]="quanHam.id">
            {{quanHam.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_quanHam.errors" class="help is-danger">
          <div *ngIf="f.id_quanHam.errors.required" translate>tq.congDan.validate.id_quanHam.required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>