<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/hscb/canbo']" translate>canbo</a>&nbsp;/&nbsp;
      <strong translate>canbo_benhan</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef>
                <label>Index </label>
              </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="tenBenh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenBenh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenBenh}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenPhanLoaiBenh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenPhanLoaiBenh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenPhanLoaiBenh}} </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openCanBoBenhAnDialog({id_canBo : id_canBo})" mat-icon-button color="primary" *ngIf="permission.HSCB_CanBoBenhAn._insert">
                  <mat-icon aria-label="Insert">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openCanBoBenhAnDialog({id_canBo : id_canBo, body : row})" *ngIf="permission.HSCB_CanBoBenhAn._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>Edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.HSCB_CanBoBenhAn._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>Delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[50, 100, 200, 500]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>