<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateCanBoBenhAn</h2>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_benh</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_benh"
            [ngClass]="{ 'is-invalid': submitted && f.id_benh.errors }">
            <mat-option *ngFor="let benh of lstbenh" [value]="benh.value">
              {{benh.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_benh.errors" class="help is-danger">
            <div *ngIf="f.id_benh.errors.required" translate>id_benh is required</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>