<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateHinhThucKyLuat</h2>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>soThangLenLuongMuon</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="soThangLenLuongMuon"
          [ngClass]="{ 'is-invalid': submitted && f.soThangLenLuongMuon.errors }" />
        <div *ngIf="submitted && f.soThangLenLuongMuon.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>sortOrder</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
        <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
        </div>
      </div>
    </div>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>