<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/hscb']" translate>hscb</a>&nbsp;/&nbsp;
      <strong translate>titleXepLoai</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="mat-elevation-z2">
            <mat-table [dataSource]="dataSource1" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <div translate>name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef layout-align="center">
                  <button mat-icon-button color="primary" (click)="openAddDialog(['','hscb.dmXepLoai'])"
                    *ngIf="permission.HSCB_XepLoai._insert">
                    <mat-icon aria-label="Add">add</mat-icon>
                  </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openEditDialog([row,'hscb.dmXepLoai'])"
                    *ngIf="permission.HSCB_XepLoai._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="openDeleteDialog([row,'hscb.dmXepLoai'])"
                    *ngIf="permission.HSCB_XepLoai._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>
              <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns1;" [ngClass]="{ 'selected': row == selectedRow1 }"
                (click)="onSelectedRow(row)">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable1">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>