<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateHopDongLaoDong</h2>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>loaiHopDong</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiHopDong"
          [ngClass]="{ 'is-invalid': submitted && f.id_loaiHopDong.errors }">
          <mat-option *ngFor="let loaihopdong of lstloaihopdong" [value]="loaihopdong.value">
            {{loaihopdong.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_loaiHopDong.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>tuNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay"
            [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
          <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
            <div *ngIf="f.tuNgay.errors.required" translate>tuNgay is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>denNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="denNgay"
            [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
          <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>ngayHieuLuc</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayHieuLuc"
            [ngClass]="{ 'is-invalid': submitted && f.ngayHieuLuc.errors }" />
          <div *ngIf="submitted && f.ngayHieuLuc.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>ngayKy</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayKy"
            [ngClass]="{ 'is-invalid': submitted && f.ngayKy.errors }" />
          <div *ngIf="submitted && f.ngayKy.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>ngayQuyetDinh</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.ngayQuyetDinh.errors }" />
          <div *ngIf="submitted && f.ngayQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>soQuyetDinh</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="soQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.soQuyetDinh.errors }" />
          <div *ngIf="submitted && f.soQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_chucDanh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_chucDanh"
          [ngClass]="{ 'is-invalid': submitted && f.id_chucDanh.errors }">
          <mat-option *ngFor="let chucdanh of lstchucdanh" [value]="chucdanh.value">
            {{chucdanh.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_chucDanh.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_chucVu</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_chucVu"
          [ngClass]="{ 'is-invalid': submitted && f.id_chucVu.errors }">
          <mat-option *ngFor="let chucvu of lstchucvu" [value]="chucvu.value">
            {{chucvu.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_chucVu.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>nguoiKyBaoCao</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_nguoiKy"
          [ngClass]="{ 'is-invalid': submitted && f.id_nguoiKy.errors }">
          <mat-option *ngFor="let nguoiky of lstnguoiky" [value]="nguoiky.value">
            {{nguoiky.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_nguoiKy.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>thongTinCongTac</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="thongTinCongTac"
            [ngClass]="{ 'is-invalid': submitted && f.thongTinCongTac.errors }" />
          <div *ngIf="submitted && f.thongTinCongTac.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>noiLamViec</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="noiLamViec"
            [ngClass]="{ 'is-invalid': submitted && f.noiLamViec.errors }" />
          <div *ngIf="submitted && f.noiLamViec.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>