<div mat-dialog-content>
  <h3 *ngIf="data.delete" translate>common.delete.comfirm</h3><h3>{{data.name}}</h3>
 </div>
 <div mat-dialog-actions>
   <button mat-button (click)="onNoClick()"><span translate>common.cancel</span></button>
   <button mat-button [mat-dialog-close]="true" cdkFocusInitial><span translate>common.save</span></button>
 </div>