<h2 mat-dialog-title translate>UpdateVersion</h2>
<form [formGroup]="versionForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>version</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="version"
          [ngClass]="{ 'is-invalid': submitted && f.version.errors }" />
        <div *ngIf="submitted && f.version.errors" class="help is-danger">
          <div *ngIf="f.version.errors.required" translate>version is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>url</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="url"
          [ngClass]="{ 'is-invalid': submitted && f.url.errors }" />
        <div *ngIf="submitted && f.url.errors" class="help is-danger">
          <div *ngIf="f.url.errors.required" translate>url is required</div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>