<h2 mat-dialog-title translate>UpdateApplication</h2>
<form [formGroup]="appForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>type</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="type"
          [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
          <mat-option value="app">
            <span translate> application</span>
          </mat-option>
          <mat-option value="web">
            <span translate> web</span>
          </mat-option>
          <mat-option value="firmware">
            <span translate> firmware</span>
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.type.errors" class="help is-danger">
          <div *ngIf="f.type.errors.required" translate>type is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>file</label>
      <div class="control">
        <input type="file" class="form-control is-primary" value="Upload APK file" (change)="onFileChange($event)"/>

        <div *ngIf="submitted && f.type.errors" class="help is-danger">
          <div *ngIf="f.type.errors.required" translate>type is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>pkg</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="pkg"
          [ngClass]="{ 'is-invalid': submitted && f.pkg.errors }" />
        <div *ngIf="submitted && f.pkg.errors" class="help is-danger">
          <div *ngIf="f.pkg.errors.required" translate>pkg is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>latestVersion</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="latestVersion"
          [ngClass]="{ 'is-invalid': submitted && f.latestVersion.errors }" />
        <div *ngIf="submitted && f.latestVersion.errors" class="help is-danger">
          <div *ngIf="f.latestVersion.errors.required" translate>latestVersion is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>system</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="system"
          [ngClass]="{ 'is-invalid': submitted && f.system.errors }" />
        <div *ngIf="submitted && f.system.errors" class="help is-danger">
          <div *ngIf="f.system.errors.required" translate>system is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>runAfterInstall</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="runAfterInstall"
          [ngClass]="{ 'is-invalid': submitted && f.runAfterInstall.errors }" />
        <div *ngIf="submitted && f.runAfterInstall.errors" class="help is-danger">
          <div *ngIf="f.runAfterInstall.errors.required" translate>runAfterInstall is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>showIcon</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="showIcon"
          [ngClass]="{ 'is-invalid': submitted && f.showIcon.errors }" />
          <div *ngIf="submitted && f.showIcon.errors" class="help is-danger">
            <div *ngIf="f.showIcon.errors.required" translate>showIcon is required</div>
          </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>commonApp</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="commonApp"
          [ngClass]="{ 'is-invalid': submitted && f.commonApp.errors }" />
      </div>
    </div>
  
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>