<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateQuaTrinhCongTac</h2>
    <div class="form-group row">
      <div class="col-md-12">
        <label class="col-form-label" translate>donVi</label>
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
            <label *ngIf="selectedBaoCaos">{{selectedBaoCaos.label}}</label>
            <label *ngIf="!selectedBaoCaos">&nbsp; </label>
            <label class="dropdown-toggle dropdown-toggle-right"></label>
          </button>
          <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
            <p-tree [value]="donVis" selectionMode="single" [(selection)]="selectedBaoCaos"
              (onNodeSelect)="nodeSelectBaoCao($event)" (onNodeUnselect)="nodeUnselectBaoCao($event)"></p-tree>
          </div>
        </div>
        <div *ngIf="submitted && f.id_donVi.errors" class="help is-danger">
          <div *ngIf="f.id_donVi.errors.required" translate>id_donVi is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>tuNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay"
            [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
          <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
            <div *ngIf="f.tuNgay.errors.required" translate>tuNgay is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>denNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="denNgay"
            [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
          <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>ngayQuyetDinh</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.ngayQuyetDinh.errors }" />
          <div *ngIf="submitted && f.ngayQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>ngayKy</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayKy"
            [ngClass]="{ 'is-invalid': submitted && f.ngayKy.errors }" />
          <div *ngIf="submitted && f.ngayKy.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>soQuyetDinh</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="soQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.soQuyetDinh.errors }" />
          <div *ngIf="submitted && f.soQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_chucDanh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_chucDanh"
          [ngClass]="{ 'is-invalid': submitted && f.id_chucDanh.errors }">
          <mat-option *ngFor="let chucdanh of lstchucdanh" [value]="chucdanh.value">
            {{chucdanh.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_chucDanh.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_chucVu</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_chucVu"
          [ngClass]="{ 'is-invalid': submitted && f.id_chucVu.errors }">
          <mat-option *ngFor="let chucvu of lstchucvu" [value]="chucvu.value">
            {{chucvu.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_chucVu.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_loaiQuaTrinhCongTac</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiQuaTrinhCongTac"
          [ngClass]="{ 'is-invalid': submitted && f.id_loaiQuaTrinhCongTac.errors }">
          <mat-option *ngFor="let loaiqtct of lstloaiquatrinhcongtac" [value]="loaiqtct.value">
            {{loaiqtct.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_loaiQuaTrinhCongTac.errors" class="help is-danger">
          <div *ngIf="f.id_loaiQuaTrinhCongTac.errors.required" translate>id_loaiQuaTrinhCongTac is required</div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_lyDoQuaTrinhCongTac</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_lyDoQuaTrinhCongTac"
          [ngClass]="{ 'is-invalid': submitted && f.id_lyDoQuaTrinhCongTac.errors }">
          <mat-option *ngFor="let lydoqtct of lstlydoquatrinhcongtac" [value]="lydoqtct.value">
            {{lydoqtct.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_lyDoQuaTrinhCongTac.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>thongTinCongTac</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="thongTinCongTac"
            [ngClass]="{ 'is-invalid': submitted && f.thongTinCongTac.errors }" />
          <div *ngIf="submitted && f.thongTinCongTac.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>noiLamViec</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="noiLamViec"
            [ngClass]="{ 'is-invalid': submitted && f.noiLamViec.errors }" />
          <div *ngIf="submitted && f.noiLamViec.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>