<app-loader></app-loader>

<div class="app-body">
  <main class="main login-main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card text-white bg-shadow-3 p-4">
              <div class="card-body">
                <form>
                  <h1>ĐĂNG NHẬP</h1>
                  <p class="text-muted">Đăng nhập vào tài khoản của bạn</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Tên đăng nhập" autocomplete="username" required
                      [(ngModel)]="postData.username" [ngModelOptions]="{standalone: true}"
                      (keydown.enter)="loginAction()">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Mật khẩu" autocomplete="current-password"
                      required [(ngModel)]="postData.password" [ngModelOptions]="{standalone: true}"
                      (keydown.enter)="loginAction()">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="loginAction()">Đăng nhập</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Quên mật khẩu?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-shadow-5 py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-left">
                <div>
                  <h3>ĐIỀU HÀNH BỆNH VIỆN</h3>
                  <p>1. Quản lý hồ sơ cán bộ</p>
                  <p>2. Quản lý điều hành bệnh viện</p>
                  <p>3. Quản lý sự cố y khoa</p>
                  <p>4. Quản lý chất lượng bệnh viện</p>
                  <p>5. Quản lý chấm công, chấm trực</p>
                  <p>6. Quản lý đăng ký khám bệnh trực tuyến</p>
                  <p>7. Quản trị hệ thống</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>