<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/hscb']" translate>hscb</a>&nbsp;/&nbsp;  
      <strong translate>titleQuanHe</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
              <mat-cell *matCellDef="let element; index as i"> {{paginator.pageSize * paginator.pageIndex + i + 1}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>code </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>name </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="laRuotThit">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>laRuotThit </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <label *ngIf="row.laRuotThit.data[0]===1" translate>Yes</label>
                <label *ngIf="row.laRuotThit.data[0]===0" translate>No</label>
                <label *ngIf="row.laRuotThit.data[0]===null" translate>No</label>
              </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openQuanHeDialog()" mat-icon-button color="primary">
                  <mat-icon aria-label="Insert">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <button mat-icon-button color="accent" (click)="openQuanHeDialog(row)">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openDeleteDialog(row)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[50, 100, 200, 500]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>