<form [formGroup]="BacLuongForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>AddBacLuong</h2>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
          <div *ngIf="f.code.errors.required" translate>code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>soThangGiuBac</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="soThangGiuBac"
          [ngClass]="{ 'is-invalid': submitted && f.soThangGiuBac.errors }" />
        <div *ngIf="submitted && f.soThangGiuBac.errors" class="help is-danger">
          <div *ngIf="f.soThangGiuBac.errors.required" translate>soThangGiuBac is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>thuTuBacLuong</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="thuTuBacLuong"
          [ngClass]="{ 'is-invalid': submitted && f.thuTuBacLuong.errors }" />
        <div *ngIf="submitted && f.thuTuBacLuong.errors" class="help is-danger">
          <div *ngIf="f.thuTuBacLuong.errors.required" translate>thuTuBacLuong is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label class="col-form-label" translate> laBacLuongCaoNhat </label>
      </div>
      <div class="col-md-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input is-primary" formControlName="laBacLuongCaoNhat" type="radio" name="laBacLuongCaoNhat"
            value="1">
          <label class="form-check-label is-primary" for="inlineRadio1" translate> Yes </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input is-primary" formControlName="laBacLuongCaoNhat" type="radio" name="laBacLuongCaoNhat"
            value="0">
          <label class="form-check-label is-primary" translate> No </label>
        </div>
        <div *ngIf="submitted && f.laBacLuongCaoNhat.errors" class="help is-danger">
          <div *ngIf="f.laBacLuongCaoNhat.errors.required" translate>laBacLuongCaoNhat is required</div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>