<form [formGroup]="HeSoLuongForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateHeSoLuong</h2>
    <div class="form-group field">
      <label translate>ngayApDung</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayApDung"
          [ngClass]="{ 'is-invalid': submitted && f.ngayApDung.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>heSo</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="heSo"
          [ngClass]="{ 'is-invalid': submitted && f.heSo.errors }" />
        <div *ngIf="submitted && f.heSo.errors" class="help is-danger">
          <div *ngIf="f.heSo.errors.required" translate>heSo is required</div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>