<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/cb']" translate>cb</a>&nbsp;/&nbsp;
      <strong translate>LuongCoBan</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- ThangBangLuong -->
        <div class="col-sm-3">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>ThangBangLuong</strong>
            </div>
            <mat-table [dataSource]="dataSource1" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef layout-align="center">
                  <button mat-icon-button color="primary" (click)="openThangBangLuongDialog()" *ngIf="permission.HSCB_Luong_Co_Ban._insert">
                    <mat-icon aria-label="Add">add</mat-icon>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openThangBangLuongDialog(row)" *ngIf="permission.HSCB_Luong_Co_Ban._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="openDeleteDialog([row,'ThangBangLuong'])"
                    *ngIf="permission.HSCB_Luong_Co_Ban._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>

              <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns1;" (click)="getNgachLuong(row)"
                [ngClass]="{ 'selected': row == selectedRow1 }">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable1">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
        <!-- NgachLuong -->
        <div class="col-sm-3">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>NgachLuong</strong>
            </div>
            <mat-table [dataSource]="dataSource2" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary" *ngIf="rowThangBangLuong && permission.HSCB_Luong_Co_Ban._insert"
                    (click)="openNgachLuongAddDialog(rowThangBangLuong.id)">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openNgachLuongDialog(row)"
                  *ngIf="permission.HSCB_Luong_Co_Ban._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="openDeleteDialog([row, 'NgachLuong'])"
                  *ngIf="permission.HSCB_Luong_Co_Ban._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>

              <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns2;" (click)="getBacLuong(row)"
                [ngClass]="{ 'selected': row == selectedRow2 }">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable2">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
        <!-- BacLuong -->
        <div class="col-sm-3">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>BacLuong</strong>
            </div>
            <mat-table [dataSource]="dataSource3" matSort>
              <!-- Code Column -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>code</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>name</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary" *ngIf="rowNgachLuong && permission.HSCB_Luong_Co_Ban._insert"
                    (click)="openBacLuongAddDialog(rowNgachLuong.id)">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openBacLuongUpdateDialog(row)"
                  *ngIf="permission.HSCB_Luong_Co_Ban._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="openDeleteDialog([row, 'BacLuong'])"
                    *ngIf="permission.HSCB_Luong_Co_Ban._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>

              <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns3;" [ngClass]="{ 'selected': row == selectedRow3 }"
                (click)="getHeSoLuong(row)">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable3">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
        <!-- HeSoLuong -->
        <div class="col-sm-3">
          <div class="mat-elevation-z2">
            <div class="card-header">
              <strong translate>HeSoLuong</strong>
            </div>
            <mat-table [dataSource]="dataSource4" matSort>
              <!-- ngayApDung Column -->
              <ng-container matColumnDef="ngayApDung">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>ngayApDung</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ngayApDung}} </mat-cell>
              </ng-container>

              <!-- heSo Column -->
              <ng-container matColumnDef="heSo">
                <mat-header-cell *matHeaderCellDef mat-sort-header translate>
                  <div translate>heSo</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.heSo}} </mat-cell>
              </ng-container>
              <!-- actions -->
              <mat-cell matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary" *ngIf="rowBacLuong && permission.HSCB_Luong_Co_Ban._insert"
                    (click)="openHeSoLuongAddDialog(rowBacLuong.id)">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let row;">
                  <button mat-icon-button color="accent" (click)="openHeSoLuongUpdateDialog(row)"
                  *ngIf="permission.HSCB_Luong_Co_Ban._update">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" (click)="openDeleteDialog([row, 'HeSoLuong'])"
                    *ngIf="permission.HSCB_Luong_Co_Ban._delete">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </mat-cell>

              <mat-header-row *matHeaderRowDef="displayedColumns4"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns4;" [ngClass]="{ 'selected': row == selectedRow4 }"
                (click)="onSelectedRow(row)">
              </mat-row>
            </mat-table>
            <div class="center" *ngIf="!loadTable4">
              <mat-progress-spinner value="10" diameter="40" mode="indeterminate"></mat-progress-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>