<h2 mat-dialog-title *ngIf="data[1]" translate>NgachLuong</h2>
<form [formGroup]="NgachLuongForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submittedDialog && f.code.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submittedDialog && f.name.errors }" />
        <div *ngIf="submittedDialog && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>tenNgachLuong is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>moTa</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="moTa"
          [ngClass]="{ 'is-invalid': submittedDialog && f.moTa.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>fromDate</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="apDungTuNgay"
          [ngClass]="{ 'is-invalid': submitted && f.apDungTuNgay.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>toDate</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="apDungDenNgay"
          [ngClass]="{ 'is-invalid': submitted && f.apDungDenNgay.errors }" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>