<h2 mat-dialog-title translate>ThangBangLuong</h2>
<form [formGroup]="ThangBangLuongForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submittedDialog && f.code.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submittedDialog && f.name.errors }" />
        <div *ngIf="submittedDialog && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>tenThangBangLuong is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" >
      <label translate>loaiNgachLuong</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiNgachLuong"
          [ngClass]="{ 'is-invalid': submitted && f.id_loaiNgachLuong.errors }">
          <mat-option *ngFor="let loaiNgachLuong of loaiNgachLuongs" [value]="loaiNgachLuong.value">
            {{loaiNgachLuong.display}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>