<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateCanBoKhenThuong</h2>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>nam</label>
        <div class="control">
          <input type="number" class="form-control input is-primary" formControlName="nam"
            [ngClass]="{ 'is-invalid': submitted && f.nam.errors }" />
          <div *ngIf="submitted && f.nam.errors" class="help is-danger">
            <div *ngIf="f.nam.errors" translate>nam Invalid</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_loaiHinhThucKhenThuong</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiHinhThucKhenThuong"
          [ngClass]="{ 'is-invalid': submitted && f.id_loaiHinhThucKhenThuong.errors }">
          <mat-option *ngFor="let loai of lstloaihinhthuckhenthuong" [value]="loai.value">
            {{loai.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_loaiHinhThucKhenThuong.errors" class="help is-danger">
          <div *ngIf="f.id_loaiHinhThucKhenThuong.errors.required" translate>id_loaiHinhThucKhenThuong is required</div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_capQuyetDinh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capQuyetDinh"
          [ngClass]="{ 'is-invalid': submitted && f.id_capQuyetDinh.errors }">
          <mat-option *ngFor="let capquyetdinh of lstcapquyetdinh" [value]="capquyetdinh.value">
            {{capquyetdinh.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_capQuyetDinh.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_hinhThucKhenThuong</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_hinhThucKhenThuong"
          [ngClass]="{ 'is-invalid': submitted && f.id_hinhThucKhenThuong.errors }">
          <mat-option *ngFor="let hinhthuckhenthuong of lsthinhthuckhenthuong" [value]="hinhthuckhenthuong.value">
            {{hinhthuckhenthuong.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_hinhThucKhenThuong.errors" class="help is-danger">
          <div *ngIf="f.id_hinhThucKhenThuong.errors.required" translate>id_hinhThucKhenThuong is required</div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>noiDung</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="noiDung"
            [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }" />
          <div *ngIf="submitted && f.noiDung.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>soQuyetDinh</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="soQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.soQuyetDinh.errors }" />
          <div *ngIf="submitted && f.soQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>ngayQuyetDinh</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.ngayQuyetDinh.errors }" />
          <div *ngIf="submitted && f.ngayQuyetDinh.errors" class="help is-danger">
            <div *ngIf="f.ngayQuyetDinh.errors.required" translate>ngayQuyetDinh is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_noiBanHanh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_noiBanHanh"
          [ngClass]="{ 'is-invalid': submitted && f.id_noiBanHanh.errors }">
          <mat-option *ngFor="let noibanhanh of lstnoibanhanh" [value]="noibanhanh.value">
            {{noibanhanh.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_noiBanHanh.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>ghiChu</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="ghiChu"
            [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
          <div *ngIf="submitted && f.ghiChu.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>tuNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay"
            [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
          <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
            <div *ngIf="f.tuNgay.errors.required" translate>tuNgay is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>denNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="denNgay"
            [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
          <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>