<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/canbo']" translate>canbo</a>&nbsp;/&nbsp;
      <strong translate>canbo</strong>
    </div>
    <div class="card-body">
      <!--<mat-expansion-panel class="border-search">
         <mat-expansion-panel-header>
          <mat-panel-title>
            <strong translate>Search</strong>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header> -->
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
          <div class="row">
            <div class="form-group col-sm-4">
              <label translate>id_donVi</label>
              <div class="control">
                <div class="input-group-prepend" dropdown>
                  <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                    <label translate>id_donVi</label>
                    <label class="dropdown-toggle dropdown-toggle-right"></label>
                  </button>
                  <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
                    <kendo-treeview class="treeview" [nodes]="dataTree" [children]="children" [hasChildren]="hasChildren"
                      textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                      [(checkedKeys)]="checkedKeys" [checkBy]="key">
                    </kendo-treeview>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label translate>ngay</label>
              <div class="control">
                <input type="date" class="form-control input is-primary" formControlName="ngay" />
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label></label>
              <div class="control">
                <button type="submit" class="button is-primary">
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
            </div>
          </div>
        </form>
      <!-- </mat-expansion-panel> -->
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef>
                <label>Index </label>
              </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="maCanBo">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>maCanBo </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.maCanBo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hoTen">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>hoTen </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.hoTen}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>email </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenChuyenNganh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenChuyenNganh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenChuyenNganh}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenDonVi">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenDonVi </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenDonVi}} </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openCanBoDialog()" mat-icon-button color="primary" *ngIf="permission.CC_KyHieuChamCong._insert">
                  <mat-icon aria-label="Insert">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option [routerLink]="['canbo-bangcap/'+row.canbo_id]"  *ngIf="permission.HSCB_CanBoBangCap._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoBangCap</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-qtct/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoQuaTrinhCongTac._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoQTCT</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-thannhan/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoThanNhan._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoThanNhan</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-benhan/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoBenhAn._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoBenhAn</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-suckhoehangnam/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoSucKhoeHangNam._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleSucKhoeHangNam</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-ngoaingu/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoNgoaiNgu._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoNgoaiNgu</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-hopdong/'+row.canbo_id]">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoHopDong</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-kyluat/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoKyLuat._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoKyLuat</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-khenthuong/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoKhenThuong._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoKhenThuong</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-kiemnhiem/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoKiemNhiem._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoKiemNhiem</label>
                    </button>
                  </mat-option>
                  <mat-option [routerLink]="['canbo-quatrinhluong/'+row.canbo_id]" *ngIf="permission.HSCB_CanBoKiemNhiem._insert">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>titleCanBoQuaTrinhLuong</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openCanBoDialog(row)" *ngIf="permission.CC_KyHieuChamCong._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>Edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.CC_KyHieuChamCong._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>Delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[50, 100, 200, 500]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>