<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateCanBo</h2>
    <div class="form-group row">
      <div class="col-md-12">
        <label class="col-form-label" translate>donViBaoCao</label>
        <div class="input-group-prepend" dropdown>
          <button id ="id_donVi" type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
            <label *ngIf="selectedBaoCaos">{{selectedBaoCaos.label}}</label>
            <label *ngIf="!selectedBaoCaos">&nbsp; </label>
            <label class="dropdown-toggle dropdown-toggle-right"></label>
          </button>
          <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
            <p-tree [value]="donVis" selectionMode="single" [(selection)]="selectedBaoCaos"
              (onNodeSelect)="nodeSelectBaoCao($event)" (onNodeUnselect)="nodeUnselectBaoCao($event)"></p-tree>
          </div>
        </div>
        <div *ngIf="submitted && f.id_donVi.errors" class="help is-danger">
          <div *ngIf="f.id_donVi.errors.required" translate>id_donVi is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>maCanBo</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="maCanBo"
            [ngClass]="{ 'is-invalid': submitted && f.maCanBo.errors }" />
          <div *ngIf="submitted && f.maCanBo.errors" class="help is-danger">
            <div *ngIf="f.maCanBo.errors.required" translate>maCanBo is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-8">
        <label translate>hoDem</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="hoDem"
            [ngClass]="{ 'is-invalid': submitted && f.hoDem.errors }" />
          <div *ngIf="submitted && f.hoDem.errors" class="help is-danger">
            <div *ngIf="f.hoDem.errors.required" translate>hoDem is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label translate>ten</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="ten"
            [ngClass]="{ 'is-invalid': submitted && f.ten.errors }" />
          <div *ngIf="submitted && f.ten.errors" class="help is-danger">
            <div *ngIf="f.ten.errors.required" translate>ten is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>ngaySinh</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngaySinh"
            [ngClass]="{ 'is-invalid': submitted && f.ngaySinh.errors }" />
          <div *ngIf="submitted && f.ngaySinh.errors" class="help is-danger">
            <div *ngIf="f.ngaySinh.errors.required" translate>ngaySinh is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        
        <label translate>gioiTinh</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="gioiTinh"
            [ngClass]="{ 'is-invalid': submitted && f.gioiTinh.errors }">
            <mat-option [value]=1 > <div translate>Men</div> 
            </mat-option>
            <mat-option [value]=0 > <div translate>Women</div> 
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.gioiTinh.errors" class="help is-danger">
            <div *ngIf="f.gioiTinh.errors.required" translate>gioiTinh is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>email</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>dienthoaiDD</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="dienthoaiDD"
            [ngClass]="{ 'is-invalid': submitted && f.dienthoaiDD.errors }" />
          <div *ngIf="submitted && f.dienthoaiDD.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_nhomMau</label>
          <div class="control">
            <mat-select class="form-control input is-primary" formControlName="id_nhomMau"
              [ngClass]="{ 'is-invalid': submitted && f.id_nhomMau.errors }">
              <mat-option *ngFor="let nhommau of lstnhommau" [value]="nhommau.value">
                {{nhommau.display}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && f.id_nhomMau.errors" class="help is-danger">
            </div>
          </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>Ngày vào công ty</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay"
            [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }"/>
          <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
            <div *ngIf="f.tuNgay.errors.required" translate>tuNgay is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>denNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="denNgay"
            [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
          <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>soQuyetDinh</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="soQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.soQuyetDinh.errors }" />
          <div *ngIf="submitted && f.soQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>ngayQuyetDinh</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.ngayQuyetDinh.errors }" />
          <div *ngIf="submitted && f.ngayQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>ngayKy</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayKy"
            [ngClass]="{ 'is-invalid': submitted && f.ngayKy.errors }" />
          <div *ngIf="submitted && f.ngayKy.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label translate>id_chucDanh</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_chucDanh"
            [ngClass]="{ 'is-invalid': submitted && f.id_chucDanh.errors }">
            <mat-option *ngFor="let item of lstchucdanh" [value]="item.value">
              {{item.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_chucDanh.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>id_chucVu</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_chucVu"
            [ngClass]="{ 'is-invalid': submitted && f.id_chucVu.errors }">
            <mat-option *ngFor="let chucvu of lstchucvu" [value]="chucvu.value">
              {{chucvu.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_chucVu.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_loaiQuaTrinhCongTac</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_loaiQuaTrinhCongTac"
            [ngClass]="{ 'is-invalid': submitted && f.id_loaiQuaTrinhCongTac.errors }">
            <mat-option *ngFor="let loaiqtct of lstloaiqtct" [value]="loaiqtct.value">
              {{loaiqtct.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_loaiQuaTrinhCongTac.errors" class="help is-danger">
            <div *ngIf="f.id_loaiQuaTrinhCongTac.errors.required" translate>id_loaiQuaTrinhCongTac is required</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>noiSinh</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_tinh_ns"
            [ngClass]="{ 'is-invalid': submitted && f.id_tinh_ns.errors }" (selectionChange)="changetinh('ns')">
            <mat-option *ngFor="let tinh of lsttinh" [value]="tinh.value">
              {{tinh.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_tinh_ns.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>id_huyen_ns</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_huyen_ns"
            [ngClass]="{ 'is-invalid': submitted && f.id_huyen_ns.errors }" (selectionChange)="changehuyen('ns')">
            <mat-option *ngFor="let huyen of lsthuyenns" [value]="huyen.value">
              {{huyen.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_huyen_ns.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>id_xa_ns</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_xa_ns"
            [ngClass]="{ 'is-invalid': submitted && f.id_xa_ns.errors }">
            <mat-option *ngFor="let xa of lstxans" [value]="xa.value">
              {{xa.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_xa_ns.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>thonXom_ns</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="thonXom_ns"
            [ngClass]="{ 'is-invalid': submitted && f.thonXom_ns.errors }" />
          <div *ngIf="submitted && f.thonXom_ns.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label translate>thuongTru</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_tinh_tht"
            [ngClass]="{ 'is-invalid': submitted && f.id_tinh_tht.errors }" (selectionChange)="changetinh('tht')">
            <mat-option *ngFor="let tinh of lsttinh" [value]="tinh.value">
              {{tinh.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_tinh_tht.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>id_huyen_tht</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_huyen_tht"
            [ngClass]="{ 'is-invalid': submitted && f.id_huyen_tht.errors }" (selectionChange)="changehuyen('tht')">
            <mat-option *ngFor="let huyen of lsthuyentht" [value]="huyen.value">
              {{huyen.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_huyen_tht.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>id_xa_tht</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_xa_tht"
            [ngClass]="{ 'is-invalid': submitted && f.id_xa_tht.errors }">
            <mat-option *ngFor="let xa of lstxatht" [value]="xa.value">
              {{xa.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_xa_tht.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>thonXom_tht</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="thonXom_tht"
            [ngClass]="{ 'is-invalid': submitted && f.thonXom_tht.errors }" />
          <div *ngIf="submitted && f.thonXom_tht.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label translate>tamTru</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_tinh_tt"
            [ngClass]="{ 'is-invalid': submitted && f.id_tinh_tt.errors }" (selectionChange)="changetinh('tt')">
            <mat-option *ngFor="let tinh of lsttinh" [value]="tinh.value">
              {{tinh.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_tinh_tt.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>id_huyen_tt</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_huyen_tt"
            [ngClass]="{ 'is-invalid': submitted && f.id_huyen_tt.errors }" (selectionChange)="changehuyen('tt')">
            <mat-option *ngFor="let huyen of lsthuyentt" [value]="huyen.value">
              {{huyen.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_huyen_tt.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>id_xa_tt</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_xa_tt"
            [ngClass]="{ 'is-invalid': submitted && f.id_xa_tt.errors }">
            <mat-option *ngFor="let xa of lstxatt" [value]="xa.value">
              {{xa.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_xa_tt.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>thonXom_tt</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="thonXom_tt"
            [ngClass]="{ 'is-invalid': submitted && f.thonXom_tt.errors }" />
          <div *ngIf="submitted && f.thonXom_tt.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label translate>queQuan</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_tinh_qq"
            [ngClass]="{ 'is-invalid': submitted && f.id_tinh_qq.errors }" (selectionChange)="changetinh('qq')">
            <mat-option *ngFor="let tinh of lsttinh" [value]="tinh.value">
              {{tinh.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_tinh_qq.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>id_huyen_qq</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_huyen_qq"
            [ngClass]="{ 'is-invalid': submitted && f.id_huyen_qq.errors }" (selectionChange)="changehuyen('qq')">
            <mat-option *ngFor="let huyen of lsthuyenqq" [value]="huyen.value">
              {{huyen.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_huyen_qq.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>id_xa_qq</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_xa_qq"
            [ngClass]="{ 'is-invalid': submitted && f.id_xa_qq.errors }">
            <mat-option *ngFor="let xa of lstxaqq" [value]="xa.value">
              {{xa.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_xa_qq.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>thonXom_qq</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="thonXom_qq"
            [ngClass]="{ 'is-invalid': submitted && f.thonXom_qq.errors }" />
          <div *ngIf="submitted && f.thonXom_qq.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>