<h2 mat-dialog-title translate>UpdateDiaBan</h2>
<form [formGroup]="diaBanForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
          <div *ngIf="f.code.errors.required" translate>code is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">

    <div class="form-group col-md-4">
      <label translate>tinh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" (selectionChange)="onSelectTinh($event.value)"
          formControlName="id_dm_tinh" [ngClass]="{ 'is-invalid': submitted && f.id_dm_tinh.errors }">
          <mat-option *ngFor="let tinh of tinhs" [value]="tinh.id">
            {{tinh.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_dm_tinh.errors" class="help is-danger">
          <div *ngIf="f.id_dm_tinh.errors.required" translate>id_dm_tinh is required</div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-4" *ngIf="f.id_dm_tinh.value">
      <label translate>huyen</label>
      <div class="control">
        <mat-select class="form-control input is-primary" (selectionChange)="onSelectHuyen($event.value)"
          formControlName="id_dm_huyen" [ngClass]="{ 'is-invalid': submitted && f.id_dm_huyen.errors }">
          <mat-option *ngFor="let huyen of huyens" [value]="huyen.id">
            {{huyen.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_dm_huyen.errors" class="help is-danger">
          <div *ngIf="f.id_dm_huyen.errors.required" translate>id_dm_huyen is required</div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-4" *ngIf="f.id_dm_huyen.value">
      <label translate>xa</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_dm_xa"
          [ngClass]="{ 'is-invalid': submitted && f.id_dm_xa.errors }">
          <mat-option *ngFor="let xa of xas" [value]="xa.id">
            {{xa.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_dm_xa.errors" class="help is-danger">
          <div *ngIf="f.id_dm_xa.errors.required" translate>id_dm_xa is required</div>
        </div>
      </div>
    </div>
    </div>
    <div class="form-group field">
      <label translate>description</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>sortOrder</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
          <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
            <div *ngIf="f.sortOrder.errors.required" translate>sortOrder is required</div>
            <div *ngIf="f.sortOrder.errors.min" translate>sortOrder min = 0</div>
          </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>