<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateQuaTrinhLuong</h2>
    
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_loai</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_loai"
            [ngClass]="{ 'is-invalid': submitted && f.id_loai.errors }">
            <mat-option *ngFor="let item of lstluongtheo" [value]="item.value">
              {{item.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_loai.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="f.id_loai.value==0" >
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_ngachLuong</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_ngachLuong"
            [ngClass]="{ 'is-invalid': submitted && f.id_ngachLuong.errors }" (selectionChange)="changengachluong()">
            <mat-option *ngFor="let item of lstngachluong" [value]="item.value">
              {{item.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_ngachLuong.errors" class="help is-danger">
            <div *ngIf="f.id_ngachLuong.errors.required" translate>id_ngachLuong is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_bacLuong</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_bacLuong"
            [ngClass]="{ 'is-invalid': submitted && f.id_bacLuong.errors }"  (selectionChange)="changebacluong()">
            <mat-option *ngFor="let item of lstbacluong" [value]="item.value">
              {{item.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_bacLuong.errors" class="help is-danger">
            <div *ngIf="f.id_bacLuong.errors.required" translate>id_bacLuong is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>heSo</label>
        <div class="control">
          <label translate><span style="color:red">{{heSo}}</span></label>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>phanTramHuong</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="phanTramHuong" (selectionChange)="changephantramluong()"
            [ngClass]="{ 'is-invalid': submitted && f.phanTramHuong.errors }">
            <mat-option *ngFor="let item of lstphantramhuong" [value]="item.value">
              {{item.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.phanTramHuong.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>pCTNVuotKhung</label>
        <div class="control">
          <input type ="number" class="form-control input is-primary" formControlName="pCTNVuotKhung" (keyup)="onKey()"
            [ngClass]="{ 'is-invalid': submitted && f.pCTNVuotKhung.errors }" />
          <div *ngIf="submitted && f.pCTNVuotKhung.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>heSoBaoLuu</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="heSoBaoLuu" (keyup)="onKey()"
            [ngClass]="{ 'is-invalid': submitted && f.heSoBaoLuu.errors }" />
          <div *ngIf="submitted && f.heSoBaoLuu.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>tongHeSo : <span style="color:red ">{{tong_HeSo}}</span></label>
      </div>
      <div class="col-md-6">
        <label translate>thanhTien :  <span style="color:red">{{thanhTien}}</span></label>
      </div>
    </div>
  </div>
  <div *ngIf="f.id_loai.value==1" >
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_phanLoaiHopDong</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_phanLoaiHopDong"
            [ngClass]="{ 'is-invalid': submitted && f.id_phanLoaiHopDong.errors }" (selectionChange)="changeloailuong()">
            <mat-option *ngFor="let item of lstloailuong" [value]="item.value">
              {{item.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_phanLoaiHopDong.errors" class="help is-danger">
            <div *ngIf="f.id_phanLoaiHopDong.errors.required" translate>id_phanLoaiHopDong is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>tienLuong</label>
        <div class="control">
          <input type="number" class="form-control input is-primary" formControlName="tienLuong"
            [ngClass]="{ 'is-invalid': submitted && f.tienLuong.errors }" />
          <div *ngIf="submitted && f.tienLuong.errors" class="help is-danger">
            <div *ngIf="f.tienLuong.errors.required" translate>tienLuong is required</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="f.id_loai.value==2" >
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>heSoLuong</label>
        <div class="control">
          <input type="number" class="form-control input is-primary" formControlName="heSoLuong"
            [ngClass]="{ 'is-invalid': submitted && f.heSoLuong.errors }" />
          <div *ngIf="submitted && f.heSoLuong.errors" class="help is-danger">
            <div *ngIf="f.heSoLuong.errors.required" translate>heSoLuong is required</div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_loaiLenLuong</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_loaiLenLuong"
            [ngClass]="{ 'is-invalid': submitted && f.id_loaiLenLuong.errors }">
            <mat-option *ngFor="let item of lsthinhthuc" [value]="item.value">
              {{item.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_loaiLenLuong.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
     <div class="form-group row">
      <div class="col-md-6">
        <label translate>soQuyetDinh</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="soQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.soQuyetDinh.errors }" />
          <div *ngIf="submitted && f.soQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>ngayQuyetDinh</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayQuyetDinh"
            [ngClass]="{ 'is-invalid': submitted && f.ngayQuyetDinh.errors }" />
          <div *ngIf="submitted && f.ngayQuyetDinh.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>tuNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay" (keyup)="onKeytuNgay()" (ngModelChange) ="clicktungay($event)"
            [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
          <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
            <div *ngIf="f.tuNgay.errors.required" translate>tuNgay is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>ngayBienDong</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayBienDong"
            [ngClass]="{ 'is-invalid': submitted && f.ngayBienDong.errors }" />
          <div *ngIf="submitted && f.ngayBienDong.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>ghiChu</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="ghiChu"
            [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
          <div *ngIf="submitted && f.ghiChu.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>