<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>CHANGE YOUR PASSWORD</strong>
        </div>
        <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="card-body">
            <div class="form-group field">
              <label>Current password</label>
              <div class="control">
                <input class="form-control input is-primary" type="password" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="help is-danger">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
            </div>
            <div class="form-group field">
              <label>New password</label>
              <input class="form-control input is-primary" type="password" formControlName="newPassword"
                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
              <div *ngIf="submitted && f.newPassword.errors" class="help is-danger">
                <div *ngIf="f.newPassword.errors.required">New password is required</div>
                <div *ngIf="f.newPassword.errors.minlength">New password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group field">
              <label>Confirm new password</label>
              <input class="form-control input is-primary" type="password" formControlName="confirmNewPassword"
                [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }" />
              <div *ngIf="submitted && f.confirmNewPassword.errors" class="help is-danger">
                <div *ngIf="f.confirmNewPassword.errors.required">Confirm new password is required</div>
                <div *ngIf="f.confirmNewPassword.errors.mustMatch">New passwords must match</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="button is-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>