<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateCanBoBangCap</h2>
    <label translate>id_capDaoTao</label>
    <div class="control">
      <mat-select class="form-control input is-primary" formControlName="id_capDaoTao"
        [ngClass]="{ 'is-invalid': submitted && f.id_capDaoTao.errors }">
        <mat-option *ngFor="let capdaotao of lstcapdaotao" [value]="capdaotao.value">
          {{capdaotao.display}}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f.id_capDaoTao.errors" class="help is-danger">
        <div *ngIf="f.id_capDaoTao.errors.required" translate>id_capDaoTao is required</div>
      </div>
    </div>
    <label translate>id_vanBang</label>
    <div class="control">
      <mat-select class="form-control input is-primary" formControlName="id_vanBang"
        [ngClass]="{ 'is-invalid': submitted && f.id_vanBang.errors }">
        <mat-option *ngFor="let vanbang of lstvanbang" [value]="vanbang.value">
          {{vanbang.display}}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f.id_vanBang.errors" class="help is-danger">
        <div *ngIf="f.id_vanBang.errors.required" translate>id_vanBang is required</div>
      </div>
    </div>
    <label translate>id_chuyenNganh</label>
    <div class="control">
      <mat-select class="form-control input is-primary" formControlName="id_chuyenNganh"
        [ngClass]="{ 'is-invalid': submitted && f.id_chuyenNganh.errors }">
        <mat-option *ngFor="let chuyennganh of lstchuyennganh" [value]="chuyennganh.value">
          {{chuyennganh.display}}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f.id_chuyenNganh.errors" class="help is-danger">
      </div>
    </div>
    <div class="form-group field">
      <label translate>noiCapBang</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="noiCapBang"
          [ngClass]="{ 'is-invalid': submitted && f.noiCapBang.errors }" />
        <div *ngIf="submitted && f.noiCapBang.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>ngayCap</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayCap"
          [ngClass]="{ 'is-invalid': submitted && f.noiCapBang.errors }" />
        <div *ngIf="submitted && f.ngayCap.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <label translate>id_xepLoai</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_xepLoai"
          [ngClass]="{ 'is-invalid': submitted && f.id_xepLoai.errors }">
          <mat-option *ngFor="let xeploai of lstxeploai" [value]="xeploai.value">
            {{xeploai.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_xepLoai.errors" class="help is-danger">
        </div>
      </div>
      <!-- labangchinh -->
      <div class="form-group field">
        <label translate>namTotNghiep</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="namTotNghiep"
            [ngClass]="{ 'is-invalid': submitted && f.namTotNghiep.errors }" />
          <div *ngIf="submitted && f.namTotNghiep.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="form-group field">
        <label translate>truongTotNghiep</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="truongTotNghiep"
            [ngClass]="{ 'is-invalid': submitted && f.truongTotNghiep.errors }" />
          <div *ngIf="submitted && f.truongTotNghiep.errors" class="help is-danger">
          </div>
        </div>
      </div>
      <div class="form-group field">
        <label translate>tuNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay"
            [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
        </div>
      </div>
      <div class="form-group field">
        <label translate>denNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="denNgay"
            [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
          </div>
      </div>
     <label translate>id_hocHam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_hocHam"
          [ngClass]="{ 'is-invalid': submitted && f.id_hocHam.errors }">
          <mat-option *ngFor="let hocham of lsthocham" [value]="hocham.value">
            {{hocham.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_hocHam.errors" class="help is-danger">
        </div>
      </div>
      <label translate>id_hocVi</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_hocVi"
          [ngClass]="{ 'is-invalid': submitted && f.id_hocVi.errors }">
          <mat-option *ngFor="let hocvi of lsthocvi" [value]="hocvi.value">
            {{hocvi.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_hocVi.errors" class="help is-danger">
        </div>
      </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>