<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateNguoiKyBaoCao</h2>
    <label translate>id_loaiCanBo</label>
    <div class="control">
      <mat-select class="form-control input is-primary" formControlName="id_loaiCanBo"
        [ngClass]="{ 'is-invalid': submitted && f.id_loaiCanBo.errors }">
        <mat-option *ngFor="let lcb of lstloaicanbo" [value]="lcb.value">
          {{lcb.display}}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f.id_loaiCanBo.errors" class="help is-danger">
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>gioiTinh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="gioiTinh"
          [ngClass]="{ 'is-invalid': submitted && f.gioiTinh.errors }">
          <mat-option [value]=1 > <div translate>Men</div> 
          </mat-option>
          <mat-option [value]=0 > <div translate>Women</div> 
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field">
      <label translate>sortOrder</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
        <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
        </div>
      </div>
    </div>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>