<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/admin']" translate>Admin</a>&nbsp;/&nbsp;
      <strong>PORTAL ACCOUNT MANAGEMENT</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label for="username">Username</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="username" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="maCanBo">Emp. Code</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="maCanBo" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label for="hoTen">Fullname</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="hoTen" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> Search</button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef>
                <label>Index </label>
              </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
              </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="maCanBo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Emp. Code </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.maCanBo}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="hoTen">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fullname </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.hoTen}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="lastAccessDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Last access </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.lastAccessDate | amFromUtc | amDateFormat: 'DD/MM/YYYY HH:mm:ss'}}
              </mat-cell>
            </ng-container>

            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openAddDialog()"
                  *ngIf="permission.HT_QuanLyNguoiDung._insert">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <button mat-icon-button color="accent" (click)="openEditDialog(row)"
                  *ngIf="permission.HT_QuanLyNguoiDung._update">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="openDeleteDialog(row)"
                  *ngIf="permission.HT_QuanLyNguoiDung._delete">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>