<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateHinhThucKhenThuong</h2>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>soThangLenLuongSom</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="soThangLenLuongSom"
          [ngClass]="{ 'is-invalid': submitted && f.soThangLenLuongSom.errors }" />
        <div *ngIf="submitted && f.soThangLenLuongSom.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>id_loaiHinhThucKhenThuong</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiHinhThucKhenThuong"
          [ngClass]="{ 'is-invalid': submitted && f.id_loaiHinhThucKhenThuong.errors }">
          <mat-option *ngFor="let loai of lstloaihinhthuckhenthuong" [value]="loai.value">
            {{loai.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_loaiHinhThucKhenThuong.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>id_capQuyetDinh</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capQuyetDinh"
          [ngClass]="{ 'is-invalid': submitted && f.id_capQuyetDinh.errors }">
          <mat-option *ngFor="let capquyetdinh of lstcapquyetdinh" [value]="capquyetdinh.value">
            {{capquyetdinh.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_capQuyetDinh.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>sortOrder</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
        <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
        </div>
      </div>
    </div>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>