<h2 mat-dialog-title translate>tq_dqtv.donViTv.update.title</h2>
<form [formGroup]="donViTvForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>common.name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>common.validate.name.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.coBchqs</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="coBchqs">
          <mat-option value ="1">
            <span translate>common.yes</span>
          </mat-option>
          <mat-option value ="0">
            <span translate>common.no</span>
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_loaiDn.errors" class="help is-danger">
          <div *ngIf="f.id_loaiDn.errors.required" translate>tq_dqtv.validate.coBchqs.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="f.coBchqs.value == 1">
      <label translate>tq_dqtv.donViTv.ngayThanhLapBchqs</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayThanhLapBchqs"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.ngayThanhLapBchqs.errors" class="help is-danger">
          <div *ngIf="f.ngayThanhLapBchqs.errors.required" translate>tq_dqtv.validate.ngayThanhLapBchqs.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.id_quyMoToChuc</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_quyMoToChuc">
          <mat-option *ngFor="let quyMoToChuc of quyMoToChucs" [value]="quyMoToChuc.value">
            {{quyMoToChuc.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_quyMoToChuc.errors" class="help is-danger">
          <div *ngIf="f.id_quyMoToChuc.errors.required" translate>tq_dqtv.validate.id_quyMoToChuc.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.id_thucThuoc</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_thucThuoc">
          <mat-option *ngFor="let thucThuoc of thucThuocs" [value]="thucThuoc.value">
            {{thucThuoc.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_thucThuoc.errors" class="help is-danger">
          <div *ngIf="f.id_thucThuoc.errors.required" translate>tq_dqtv.validate.id_thucThuoc.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.id_phanCap</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_phanCap">
          <mat-option *ngFor="let phanCap of phanCaps" [value]="phanCap.value">
            {{phanCap.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_phanCap.errors" class="help is-danger">
          <div *ngIf="f.id_phanCap.errors.required" translate>tq_dqtv.validate.id_phanCap.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.id_phanLoaiDn</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_phanLoaiDn">
          <mat-option *ngFor="let phanLoaiDn of phanLoaiDns" [value]="phanLoaiDn.value">
            {{phanLoaiDn.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_phanLoaiDn.errors" class="help is-danger">
          <div *ngIf="f.id_phanLoaiDn.errors.required" translate>tq_dqtv.validate.id_phanLoaiDn.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.id_loaiDn</label><span style="color: red;">*</span>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiDn">
          <mat-option *ngFor="let loaiDn of loaiDns" [value]="loaiDn.value">
            {{loaiDn.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_loaiDn.errors" class="help is-danger">
          <div *ngIf="f.id_loaiDn.errors.required" translate>tq_dqtv.validate.id_loaiDn.required</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2" translate>tq-dqtv.diaChi</label>
      <div class="control col-md-3">
        <mat-select class="form-control input is-primary"
          (selectionChange)="loadHuyen($event.value)">
          <mat-option *ngFor="let tinh of tinhs" [value]="tinh.id">
            {{tinh.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="control col-md-3">
        <mat-select class="form-control input is-primary" 
          (selectionChange)="loadXa($event.value)">
          <mat-option *ngFor="let huyen of huyens" [value]="huyen.id">
            {{huyen.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="control col-md-3">
        <mat-select class="form-control input is-primary" formControlName="id_xa"
          [ngClass]="{ 'is-invalid': submitted && f.id_xa.errors }">
          <mat-option *ngFor="let xa of xas" [value]="xa.id">
            {{xa.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_xa.errors" class="help is-danger">
          <div *ngIf="f.id_xa.errors.required" translate>tq.congDan.validate.id_xa.required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2" translate>tq-dqtv.diaChiDungChan</label>
      <div class="control col-md-3">
        <mat-select class="form-control input is-primary" (selectionChange)="loadHuyenDungChan($event.value)">
          <mat-option *ngFor="let tinh of tinhDungChans" [value]="tinh.id">
            {{tinh.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="control col-md-3">
        <mat-select class="form-control input is-primary"
          (selectionChange)="loadXaDungChan($event.value)">
          <mat-option *ngFor="let huyen of huyenDungChans" [value]="huyen.id">
            {{huyen.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="control col-md-3">
        <mat-select class="form-control input is-primary" formControlName="id_xa_dungChan"
          [ngClass]="{ 'is-invalid': submitted && f.id_xa_dungChan.errors }">
          <mat-option *ngFor="let xa of xaDungChans" [value]="xa.id">
            {{xa.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_xa_dungChan.errors" class="help is-danger">
          <div *ngIf="f.id_xa_dungChan.errors.required" translate>tq_dqtv.validate.id_xa_dungChan.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.soLuongLaoDong</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="soLuongLaoDong"
        [ngClass]="{ 'is-invalid': submitted && f.soLuongLaoDong.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq_dqtv.donViTv.ngayToChucDang</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayToChucDang"
        [ngClass]="{ 'is-invalid': submitted && f.ngayToChucDang.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.description</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.sortOrder</label>
      <div class="control">
        <input class="form-control input is-primary" type="number" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
        <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
          <div *ngIf="f.sortOrder.errors.required" translate>common.validate.sortOrder.required</div>
          <div *ngIf="f.sortOrder.errors.min" translate>common.validate.sortOrder.min0</div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"> <span translate>common.cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate>common.save</span></button>
  </div>
</form>