<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/hscb']" translate>canbo</a>&nbsp;/&nbsp;
      <strong translate>canbo_thannhan</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef>
                <label>Index </label>
              </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="tenQuanHe">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenQuanHe </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenQuanHe}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hoTen">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>hoTen </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.hoTen}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="namSinh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>namSinh </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.namSinh}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="thongTinCongTac">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>thongTinCongTac </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.thongTinCongTac}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noiOHienNay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>noiOHienNay </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.noiOHienNay}} </mat-cell>
            </ng-container>
             <ng-container matColumnDef="laDangVien">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>laDangVien </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <label *ngIf="row.laDangVien!==null && row.laDangVien.data[0]===1" translate>Yes</label>
                <label *ngIf="row.laDangVien!==null && row.laDangVien.data[0]===0" translate>No</label>
                
              </mat-cell>
            </ng-container>

            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openCanBoThanNhanDialog({id_canBo : id_canBo})" mat-icon-button color="primary" *ngIf="permission.HSCB_CanBoThanNhan._insert">
                  <mat-icon aria-label="Insert">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openCanBoThanNhanDialog({id_canBo : id_canBo, body : row})" *ngIf="permission.HSCB_CanBoThanNhan._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>Edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.HSCB_CanBoThanNhan._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>Delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[50, 100, 200, 500]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>