<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateCanBoThanNhan</h2>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_quanHe</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_quanHe"
            [ngClass]="{ 'is-invalid': submitted && f.id_quanHe.errors }">
            <mat-option *ngFor="let quanhe of lstquanhe" [value]="quanhe.value">
              {{quanhe.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_quanHe.errors" class="help is-danger">
            <div *ngIf="f.id_quanHe.errors.required" translate>id_quanHe is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>hoTen</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="hoTen"
            [ngClass]="{ 'is-invalid': submitted && f.hoTen.errors }" />
          <div *ngIf="submitted && f.hoTen.errors" class="help is-danger">
            <div *ngIf="f.hoTen.errors.required" translate>hoTen is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>namSinh</label>
        <div class="control">
          <input type="number" class="form-control input is-primary" formControlName="namSinh"
            [ngClass]="{ 'is-invalid': submitted && f.namSinh.errors }" />
          <div *ngIf="submitted && f.namSinh.errors" class="help is-danger">
            <div *ngIf="f.namSinh.errors" translate>namSinh Invalid</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>queQuan</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="queQuan"
            [ngClass]="{ 'is-invalid': submitted && f.queQuan.errors }" />
          <div *ngIf="submitted && f.queQuan.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>noiOHienNay</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="noiOHienNay"
            [ngClass]="{ 'is-invalid': submitted && f.noiOHienNay.errors }" />
          <div *ngIf="submitted && f.noiOHienNay.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>thongTinCongTac</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="thongTinCongTac"
            [ngClass]="{ 'is-invalid': submitted && f.thongTinCongTac.errors }" />
          <div *ngIf="submitted && f.thongTinCongTac.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>noiCongTac</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="noiCongTac"
            [ngClass]="{ 'is-invalid': submitted && f.noiCongTac.errors }" />
          <div *ngIf="submitted && f.noiCongTac.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_danToc</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_danToc"
            [ngClass]="{ 'is-invalid': submitted && f.id_danToc.errors }">
            <mat-option *ngFor="let dantoc of lstdantoc" [value]="dantoc.value">
              {{dantoc.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_danToc.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>id_tonGiao</label>
        <div class="control">
          <mat-select class="form-control input is-primary" formControlName="id_tonGiao"
            [ngClass]="{ 'is-invalid': submitted && f.id_tonGiao.errors }">
            <mat-option *ngFor="let tongiao of lsttongiao" [value]="tongiao.value">
              {{tongiao.display}}
            </mat-option>
          </mat-select>
          <div *ngIf="submitted && f.id_tonGiao.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label class="col-form-label" translate> laDangVien </label>
      </div>
      <div class="col-md-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input is-primary" formControlName="laDangVien" type="radio" name="laDangVien"
            value="1">
          <label class="form-check-label is-primary" for="inlineRadio1" translate> Yes </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input is-primary" formControlName="laDangVien" type="radio" name="laDangVien"
            value="0" required>
          <label class="form-check-label is-primary" translate> No </label>
        </div>
        <div *ngIf="submitted && f.laDangVien.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>ngayVaoDang</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayVaoDang"
            [ngClass]="{ 'is-invalid': submitted && f.ngayVaoDang.errors }" />
          <div *ngIf="submitted && f.ngayVaoDang.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>ghiChu</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="ghiChu"
            [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
          <div *ngIf="submitted && f.ghiChu.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>