<h2 mat-dialog-title translate>tq.dotTq.update.title</h2>
<form [formGroup]="dotTqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>tq.dotTq.nam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="nam"
          [ngClass]="{ 'is-invalid': submitted && f.nam.errors }">
          <mat-option *ngFor="let number of numbers" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.nam.errors" class="help is-danger">
          <div *ngIf="f.nam.errors.required" translate>tq.dotTq.validate.nam.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.congDan.bcdbdv.id_donViDbdv</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_donViDbdv"
          [ngClass]="{ 'is-invalid': submitted && f.id_donViDbdv.errors }">
          <mat-option *ngFor="let donViDbdv of donViDbdvs" [value]="donViDbdv.id">
            {{donViDbdv.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_donViDbdv.errors" class="help is-danger">
          <div *ngIf="f.id_donViDbdv.errors.required" translate>tq.congDan.validate.id_donViDbdv.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.keHoachDbdv.soLuongSq</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="soLuongSq"
          [ngClass]="{ 'is-invalid': submitted && f.soLuongSq.errors }" />
        <div *ngIf="submitted && f.soLuongSq.errors" class="help is-danger">
          <div *ngIf="f.soLuongSq.errors.required" translate>tq.keHoachDbdv.validate.soLuongSq.required</div>
          <div *ngIf="f.soLuongSq.errors.min" translate>tq.keHoachDbdv.validate.soLuongSq.min</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.keHoachDbdv.soLuongHsqbs</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="soLuongHsqbs"
          [ngClass]="{ 'is-invalid': submitted && f.soLuongHsqbs.errors }" />
        <div *ngIf="submitted && f.soLuongHsqbs.errors" class="help is-danger">
          <div *ngIf="f.soLuongSq.errors.min" translate>tq.keHoachDbdv.validate.soLuongHsqbs.min</div>
          <div *ngIf="f.soLuongHsqbs.errors.required" translate>tq.keHoachDbdv.validate.soLuongHsqbs.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.ghiChu</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="ghiChu"
          [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>