<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateChucDanh</h2>
    <div class="form-group field">
      <label translate>code</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="code"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.code.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tenVietTat</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="tenVietTat"
          [ngClass]="{ 'is-invalid': submitted && f.tenVietTat.errors }" />
        <div *ngIf="submitted && f.tenVietTat.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label class="col-form-label" translate> laLanhDao </label>
      </div>
      <div class="col-md-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input is-primary" formControlName="laLanhDao" type="radio" name="laLanhDao"
            value="1">
          <label class="form-check-label is-primary" for="inlineRadio1" translate> Yes </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input is-primary" formControlName="laLanhDao" type="radio" name="laLanhDao"
            value="0" required>
          <label class="form-check-label is-primary" translate> No </label>
        </div>
        <div *ngIf="submitted && f.laLanhDao.errors" class="help is-danger">
          <div *ngIf="f.laLanhDao.errors.required" translate>laLanhDao is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label class="col-form-label" translate> laCheDoDocHai </label>
      </div>
      <div class="col-md-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input is-primary" formControlName="laCheDoDocHai" type="radio" name="laCheDoDocHai"
            value="1">
          <label class="form-check-label is-primary" for="inlineRadio1" translate> Yes </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input is-primary" formControlName="laCheDoDocHai" type="radio" name="laCheDoDocHai"
            value="0" required>
          <label class="form-check-label is-primary" translate> No </label>
        </div>
        <div *ngIf="submitted && f.laCheDoDocHai.errors" class="help is-danger">
          <div *ngIf="f.laCheDoDocHai.errors.required" translate>laCheDoDocHai is required</div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>