<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>tq_dqtv.doiTuong.title</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.name </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.description </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container>
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.TQ_DQTV_DoiTuong._insert">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.TQ_DQTV_DoiTuong._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>common.edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.TQ_DQTV_DoiTuong._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>