<div style="margin: 35px">
  <json-schema-form
    [form]="yourCompoundInputObject"
    (onSubmit)="onSubmit($event)"
    [framework]="'bootstrap-4'"
    (formSchema)="showFormSchemaFn($event)"
    (formLayout)="showFormLayoutFn($event)">
  </json-schema-form>
  </div>
  
  <pre>{{submittedFormData | json}}</pre>