<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateCanBoKiemNhiem</h2>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_chucVu_KiemNhiem</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_chucVu"
          [ngClass]="{ 'is-invalid': submitted && f.id_chucVu.errors }">
          <mat-option *ngFor="let chucvu of lstchucvu" [value]="chucvu.value">
            {{chucvu.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_chucVu.errors" class="help is-danger">
          <div *ngIf="f.id_chucVu.errors.required" translate>id_chucVu is required</div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_viTriViecLam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_viTriViecLam"
          [ngClass]="{ 'is-invalid': submitted && f.id_viTriViecLam.errors }">
          <mat-option *ngFor="let vitrivieclam of lstvitrivieclam" [value]="vitrivieclam.value">
            {{vitrivieclam.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_viTriViecLam.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_loaiCanBo</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_loaiCanBo"
          [ngClass]="{ 'is-invalid': submitted && f.id_loaiCanBo.errors }">
          <mat-option *ngFor="let loaicanbo of lstloaicanbo" [value]="loaicanbo.value">
            {{loaicanbo.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_loaiCanBo.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>tuNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay"
            [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
          <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
            <div *ngIf="f.tuNgay.errors.required" translate>tuNgay is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>denNgay</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="denNgay"
            [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
          <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label class="col-form-label" translate>donVi</label>
        <div class="input-group-prepend" dropdown>
          <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
            <label *ngIf="selectedBaoCaos">{{selectedBaoCaos.label}}</label>
            <label *ngIf="!selectedBaoCaos">&nbsp; </label>
            <label class="dropdown-toggle dropdown-toggle-right"></label>
          </button>
          <div class="dropdown-menu" *dropdownMenu (click)="$event.stopPropagation()">
            <p-tree [value]="donVis" selectionMode="single" [(selection)]="selectedBaoCaos"
              (onNodeSelect)="nodeSelectBaoCao($event)" (onNodeUnselect)="nodeUnselectBaoCao($event)"></p-tree>
          </div>
        </div>
        <div *ngIf="submitted && f.id_donVi.errors" class="help is-danger">
          <div *ngIf="f.id_donVi.errors.required" translate>id_donVi is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label translate>thongTinKiemNhiem</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="thongTinKiemNhiem"
            [ngClass]="{ 'is-invalid': submitted && f.thongTinKiemNhiem.errors }" />
          <div *ngIf="submitted && f.thongTinKiemNhiem.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>