<form [formGroup]="congDanForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>tq.xetDuyet.update.title</h2>
    <div class="form-group field">
      <label translate>tq.xetDuyet.id_tq_type_congDan</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_tq_type_congDan"
          [ngClass]="{ 'is-invalid': submitted && f.id_tq_type_congDan.errors }">
          <mat-option *ngFor="let typeCongDan of typeCongDans" [value]="typeCongDan.next_state">
            {{typeCongDan.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_tq_type_congDan.errors" class="help is-danger">
          <div *ngIf="f.id_tq_type_congDan.errors.required" translate>tq.xetDuyet.validate.id_tq_type_congDan.required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>