<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate *ngIf="data.id_type_state == 101">dqtv.xdhn.update.title</h2>
    <h2 mat-dialog-title translate *ngIf="data.id_type_state == 102">dqtv.ssmr.update.title</h2>
    <div class="form-group field">
      <label translate>common.ngay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
        <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
          <div *ngIf="f.tuNgay.errors.required" translate>common.validate.ngay.required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>