<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>dqtv.bienChe.update.title</h2>
    <div class="form-group field">
      <label translate>common.ngay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
        <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
          <div *ngIf="f.tuNgay.errors.required" translate>common.validate.ngay.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>dqtv.typeDqtv</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="typeDqtv"
          [ngClass]="{ 'is-invalid': submitted && f.typeDqtv.errors }">
          <mat-option value="1">
            <span translate> dqtv.danQuan</span>
          </mat-option>
          <mat-option value="2">
            <span translate> dqtv.tuVe</span>
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.typeDqtv.errors" class="help is-danger">
          <div *ngIf="f.typeDqtv.errors.required" translate>dqtv.validate.typeDqtv.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="f.typeDqtv.value == '2'">
      <label translate>dqtv.id_donViTv</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_donViTv"
          [ngClass]="{ 'is-invalid': submitted && f.id_donViTv.errors }">
          <mat-option *ngFor="let donViTv of donViTvs" [value]="donViTv.id">
            {{donViTv.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_donViTv.errors" class="help is-danger">
          <div *ngIf="f.id_donViTv.errors.required" translate>dqtv.validate.id_donViTv.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="f.typeDqtv.value == '1'">
      <label translate>dqtv.id_phanLoaiLucLuong</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_phanLoaiLucLuong"
          [ngClass]="{ 'is-invalid': submitted && f.id_phanLoaiLucLuong.errors }">
          <mat-option *ngFor="let phanLoaiLucLuong of phanLoaiLucLuongs" [value]="phanLoaiLucLuong.id">
            {{phanLoaiLucLuongs.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_phanLoaiLucLuong.errors" class="help is-danger">
          <div *ngIf="f.id_phanLoaiLucLuong.errors.required" translate>dqtv.validate.id_phanLoaiLucLuong.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="f.typeDqtv.value == '1'">
      <label translate>dqtv.id_lucLuong</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_lucLuong"
          [ngClass]="{ 'is-invalid': submitted && f.id_lucLuong.errors }">
          <mat-option *ngFor="let lucLuong of lucLuongs" [value]="lucLuong.id">
            {{lucLuong.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_lucLuong.errors" class="help is-danger">
          <div *ngIf="f.id_lucLuong.errors.required" translate>dqtv.validate.id_lucLuong.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.congDan.id_quanHam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_quanHam"
          [ngClass]="{ 'is-invalid': submitted && f.id_quanHam.errors }">
          <mat-option *ngFor="let quanHam of quanHams" [value]="quanHam.id">
            {{quanHam.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_quanHam.errors" class="help is-danger">
          <div *ngIf="f.id_quanHam.errors.required" translate>tq.congDan.validate.id_quanHam.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.bcdbdv.id_capBac</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capBac"
          [ngClass]="{ 'is-invalid': submitted && f.id_capBac.errors }">
          <mat-option *ngFor="let capBac of capBacs" [value]="capBac.id">
            {{capBac.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_capBac.errors" class="help is-danger">
          <div *ngIf="f.id_capBac.errors.required" translate>tq.bcdbdv.validate.id_capBac.required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>