<h2 mat-dialog-title translate>tq.congDan.quanHe.update.title</h2>
<form [formGroup]="quanHeForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>tq.congDan.quanHe.id_quanHe</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_quanHe"
          [ngClass]="{ 'is-invalid': submitted && f.id_quanHe.errors }">
          <mat-option *ngFor="let quanHe of quanHes" [value]="quanHe.id">
            {{quanHe.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_quanHe.errors" class="help is-danger">
          <div *ngIf="f.id_quanHe.errors.required" translate>tq.congDan.quanHe.validate.id_quanHe.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>common.validate.name.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.congDan.quanHe.namSinh</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="namSinh"
          [ngClass]="{ 'is-invalid': submitted && f.namSinh.errors }" />
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.congDan.quanHe.ngheNghiep</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_ngheNghiep"
          [ngClass]="{ 'is-invalid': submitted && f.id_ngheNghiep.errors }">
          <mat-option *ngFor="let ngheNghiep of ngheNghieps" [value]="ngheNghiep.id">
            {{ngheNghiep.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.ghiChu</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="ghiChu"
          [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>