<form [formGroup]="congDanForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>tq.congDan.state.title</h2>
    <div class="form-group field" *ngIf="!data.body">
      <label translate>tq.congDan.id_tq_type_congDan</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_type_state"
          [ngClass]="{ 'is-invalid': submitted && f.id_type_state.errors }"
          (selectionChange)="loadStateAction($event.value)">
          <mat-option *ngFor="let typeCongDan of typeCongDans" [value]="typeCongDan.id">
            {{typeCongDan.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_type_state.errors" class="help is-danger">
          <div *ngIf="f.id_type_state.errors.required" translate>tq.congDan.validate.id_tq_type_congDan.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="data.body">
      <label translate>tq.congDan.id_tq_type_congDan</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_type_state"
          [ngClass]="{ 'is-invalid': submitted && f.id_type_state.errors }"
          (selectionChange)="loadStateAction($event.value)">
          <mat-option *ngFor="let typeCongDan of typeCongDanChoises" [value]="typeCongDan.next_state">
            {{typeCongDan.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_type_state.errors" class="help is-danger">
          <div *ngIf="f.id_type_state.errors.required" translate>tq.congDan.validate.id_tq_type_congDan.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.tuNgay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay"
          [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
        <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
          <div *ngIf="f.tuNgay.errors.required" translate>common.validate.tuNgay.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="codeTypeState == 'HOAN' || codeTypeState == 'VANG'">
      <label translate>common.denNgay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="denNgayThongBao"
          [ngClass]="{ 'is-invalid': submitted && f.denNgayThongBao.errors }" />
        <div *ngIf="submitted && f.denNgayThongBao.errors" class="help is-danger">
          <div *ngIf="f.denNgayThongBao.errors.required" translate>common.validate.denNgay.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="codeTypeState == 'HOAN'">
      <label translate>tq.congDan.tamHoan</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="noiDung">
          <mat-option *ngFor="let tamHoan of tamHoans" [value]="tamHoan.name">
            {{tamHoan.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="codeTypeState == 'MIEN'">
      <label translate>tq.congDan.mien</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="noiDung">
          <mat-option *ngFor="let mien of miens" [value]="mien.name">
            {{mien.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="codeTypeState == 'BCDBDV1' || codeTypeState == 'BCDBDV2'|| codeTypeState == 'BCSQDB' ||
       codeTypeState == 'GNDBDV1' || codeTypeState == 'GNDBDV2'|| codeTypeState == 'GNSQDB'">
      <label translate>tq.bcdbdv.viTriSapXep</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="noiDung"
          [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }">
          <mat-option value="Đúng">
            Đúng
          </mat-option>
          <mat-option value="Gần đúng">
            Gần đúng
          </mat-option>
          <mat-option value="Không đúng">
            Không đúng
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.noiDung.errors" class="help is-danger">
          <div *ngIf="f.noiDung.errors.required" translate>tq.bcdbdv.validate.viTriSapXep.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field"
      *ngIf="codeTypeState == 'DBDV1' || codeTypeState == 'DBDV2' || codeTypeState == 'SQDB'">
      <label translate>tq.dkdbdv.loaiDangKy</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="noiDung"
          [ngClass]="{ 'is-invalid': submitted && f.noiDung.errors }">
          <mat-option value="Đăng ký chung">
            Đăng ký chung
          </mat-option>
          <mat-option value="Đăng ký riêng">
            Đăng ký riêng
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.noiDung.errors" class="help is-danger">
          <div *ngIf="f.noiDung.errors.required" translate>tq.dkdbdv.validate.loaiDangKy.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="codeTypeState == 'NHAPNGU'|| codeTypeState == 'XUATNGU'
     || codeTypeState == 'BCDBDV1' || codeTypeState == 'BCDBDV2'|| codeTypeState == 'BCSQDB'
     || codeTypeState == 'GNDBDV1' || codeTypeState == 'GNDBDV2'|| codeTypeState == 'GNSQDB'">
      <label translate>tq.congDan.id_donViDbdv</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_donViDbdv">
          <mat-option *ngFor="let donViDbdv of donViDbdvs" [value]="donViDbdv.id">
            {{donViDbdv.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="codeTypeState == 'DBDV1'|| codeTypeState == 'DBDV2'||
    codeTypeState == 'SQDB'|| codeTypeState == 'XUATNGU'
    || codeTypeState == 'BCDBDV1' || codeTypeState == 'BCDBDV2'|| codeTypeState == 'BCSQDB'
    || codeTypeState == 'GNDBDV1' || codeTypeState == 'GNDBDV2'|| codeTypeState == 'GNSQDB'">
      <label translate>tq.congDan.id_quanHam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_quanHam">
          <mat-option *ngFor="let quanHam of quanHams" [value]="quanHam.id">
            {{quanHam.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="codeTypeState == 'NHAPNGU'|| codeTypeState == 'XUATNGU'
    || codeTypeState == 'BCDBDV1' || codeTypeState == 'BCDBDV2'|| codeTypeState == 'BCSQDB'
    || codeTypeState == 'GNDBDV1' || codeTypeState == 'GNDBDV2'|| codeTypeState == 'GNSQDB'">
      <label translate>tq.congDan.id_capBac</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_capBac">
          <mat-option *ngFor="let capBac of capBacs" [value]="capBac.id">
            {{capBac.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate>common.cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate>common.save</span></button>
  </div>
</form>