<form [formGroup]="congDanForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>tq.congDan.state.title</h2>
    <div class="form-group field">
      <label translate>common.tuNgay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="id_tq_type_congDan_tuNgay"
          [ngClass]="{ 'is-invalid': submitted && f.id_tq_type_congDan_tuNgay.errors }" />
        <div *ngIf="submitted && f.id_tq_type_congDan_tuNgay.errors" class="help is-danger">
          <div *ngIf="f.id_tq_type_congDan_tuNgay.errors.required" translate>common.validate.tuNgay.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="isInputDate == true">
      <label translate>common.denNgay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="id_tq_type_congDan_denNgay"
          [ngClass]="{ 'is-invalid': submitted && f.id_tq_type_congDan_denNgay.errors }" />
        <div *ngIf="submitted && f.id_tq_type_congDan_denNgay.errors" class="help is-danger">
          <div *ngIf="f.id_tq_type_congDan_denNgay.errors.required" translate>common.validate.denNgay.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="this.typeCongDanSelection && this.typeCongDanSelection.code === 'HOAN'">
      <label translate>tq.congDan.tamHoan</label>
      <div class="control">
        <mat-select class="form-control input is-primary" (selectionChange)="choiseLyDo($event.value)">
          <mat-option *ngFor="let tamHoan of tamHoans" [value]="tamHoan.name">
            {{tamHoan.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group field" *ngIf="this.typeCongDanSelection && this.typeCongDanSelection.code === 'MIEN'">
      <label translate>tq.congDan.mien</label>
      <div class="control">
        <mat-select class="form-control input is-primary" (selectionChange)="choiseLyDo($event.value)">
          <mat-option *ngFor="let mien of miens" [value]="mien.name">
            {{mien.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate>common.cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate>common.save</span></button>
  </div>
</form>