<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>tq.congDan.tq.update.title</h2>
    <div class="form-group field">
      <label translate>tq.congDan.id_dotTuyenQuan</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_dotTuyenQuan"
          [ngClass]="{ 'is-invalid': submitted && f.id_dotTuyenQuan.errors }">
          <mat-option *ngFor="let dotTuyenQuan of dotTuyenQuans" [value]="dotTuyenQuan.id">
            {{dotTuyenQuan.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_dotTuyenQuan.errors" class="help is-danger">
          <div *ngIf="f.id_dotTuyenQuan.errors.required" translate>tq.congDan.validate.id_dotTuyenQuan.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.ngay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
        <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
          <div *ngIf="f.tuNgay.errors.required" translate>common.validate.ngay.required
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>