<form [formGroup]="congDanForm" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>tq.congDan.update.title</h2>
    <mat-tab-group>
      <mat-tab>
        <div>&nbsp; </div>
        <ng-template mat-tab-label>
          <label translate>tq.congDan.thongTinCaNhan</label>
        </ng-template>
        <div class="col-md-12">
          <div class="form-group row">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.hoTen</label>
              <div class="control col-md-8">
                <input class="form-control input is-primary" formControlName="hoTen"
                  [ngClass]="{ 'is-invalid': submitted && f.hoTen.errors }" />
                <div *ngIf="submitted && f.hoTen.errors" class="help is-danger">
                  <div *ngIf="f.hoTen.errors.required" translate>common.validate.hoTen.required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.ngaySinh</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="ngaySinh"
                  [ngClass]="{ 'is-invalid': submitted && f.ngaySinh.errors }" />
                <div *ngIf="submitted && f.ngaySinh.errors" class="help is-danger">
                  <div *ngIf="f.ngaySinh.errors.required" translate>common.validate.ngaySinh.required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.cmnd</label>
              <div class="control col-md-8">
                <input class="form-control input is-primary" formControlName="cmnd"
                  [ngClass]="{ 'is-invalid': submitted && f.cmnd.errors }"(change)="getCongDanByCMND()" />
                <div *ngIf="submitted && f.cmnd.errors" class="help is-danger">
                  <div *ngIf="f.cmnd.errors.required" translate>common.validate.cmnd.required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.cmnd_noiCap</label>
              <div class="control col-md-8">
                <input class="form-control input is-primary" formControlName="cmnd_noiCap"
                  [ngClass]="{ 'is-invalid': submitted && f.cmnd_noiCap.errors }" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.cmnd_ngayCap</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="cmnd_ngayCap"
                  [ngClass]="{ 'is-invalid': submitted && f.cmnd_ngayCap.errors }" />
                <div *ngIf="submitted && f.cmnd_ngayCap.errors" class="help is-danger">
                  <div *ngIf="f.cmnd_ngayCap.errors.required" translate>tq.congDan.validate.cmnd_ngayCap.required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.cmnd_ngayHetHan</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="cmnd_ngayHetHan"
                  [ngClass]="{ 'is-invalid': submitted && f.cmnd_ngayHetHan.errors }" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.id_danToc</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="id_danToc"
                  [ngClass]="{ 'is-invalid': submitted && f.id_danToc.errors }">
                  <mat-option *ngFor="let danToc of danTocs" [value]="danToc.id">
                    {{danToc.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.id_tonGiao</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="id_tonGiao"
                  [ngClass]="{ 'is-invalid': submitted && f.id_tonGiao.errors }">
                  <mat-option *ngFor="let tonGiao of tonGiaos" [value]="tonGiao.id">
                    {{tonGiao.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.id_trinhDoVanHoa</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="id_trinhDoVanHoa"
                  [ngClass]="{ 'is-invalid': submitted && f.id_trinhDoVanHoa.errors }">
                  <mat-option *ngFor="let trinhDoVanHoa of trinhDoVanHoas" [value]="trinhDoVanHoa.id">
                    {{trinhDoVanHoa.name}}
                  </mat-option>
                </mat-select>
                <div *ngIf="submitted && f.id_trinhDoVanHoa.errors" class="help is-danger">
                  <div *ngIf="f.id_trinhDoVanHoa.errors.required" translate>
                    tq.congDan.validate.id_trinhDoVanHoa.required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.id_trinhDoChuyenMon</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="id_trinhDoChuyenMon"
                  [ngClass]="{ 'is-invalid': submitted && f.id_trinhDoChuyenMon.errors }">
                  <mat-option *ngFor="let trinhDoChuyenMon of trinhDoChuyenMons" [value]="trinhDoChuyenMon.id">
                    {{trinhDoChuyenMon.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.id_hocVi</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="id_hocVi"
                  [ngClass]="{ 'is-invalid': submitted && f.id_hocVi.errors }">
                  <mat-option *ngFor="let hocVi of hocVis" [value]="hocVi.id">
                    {{hocVi.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.id_nganhNgheCmkt</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="id_nganhNgheCmkt"
                  [ngClass]="{ 'is-invalid': submitted && f.id_nganhNgheCmkt.errors }">
                  <mat-option *ngFor="let nganhNgheCmkt of nganhNgheCmkts" [value]="nganhNgheCmkt.id">
                    {{nganhNgheCmkt.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="data.type =='congDanNu'">
            <label class="col-md-2" translate>tq.congDan.truongDaoTao</label>
            <div class="control col-md-9">
              <input type="date" class="form-control input is-primary" formControlName="truongDaoTao"
                [ngClass]="{ 'is-invalid': submitted && f.truongDaoTao.errors }" />
            </div>
          </div>
          <div class="form-group row"  *ngIf="data.type =='congDanNu'">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.tuNgayDt</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="tuNgayDt"
                  [ngClass]="{ 'is-invalid': submitted && f.tuNgayDt.errors }" />
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.denNgayDt</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="denNgayDt"
                  [ngClass]="{ 'is-invalid': submitted && f.denNgayDt.errors }" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.ngayVaoDoan</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="ngayVaoDoan"
                  [ngClass]="{ 'is-invalid': submitted && f.ngayVaoDoan.errors }" />
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.gioiTinh</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="gioiTinh"
                  [ngClass]="{ 'is-invalid': submitted && f.gioiTinh.errors }">
                  <mat-option value='1'>
                    Nam
                  </mat-option>
                  <mat-option value='0'>
                    Nữ
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.ngayVaoDang</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="ngayVaoDang"
                  [ngClass]="{ 'is-invalid': submitted && f.ngayVaoDang.errors }" />
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.ngayVaoDangChinhThuc</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="ngayVaoDangChinhThuc"
                  [ngClass]="{ 'is-invalid': submitted && f.ngayVaoDangChinhThuc.errors }" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2" translate>tq.congDan.nguyenQuan</label>
            <div class="control col-md-9">
              <input class="form-control input is-primary" formControlName="nguyenQuan"
                [ngClass]="{ 'is-invalid': submitted && f.nguyenQuan.errors }" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2" translate>tq.congDan.noiCuTru</label>
            <div class="control col-md-3">
              <mat-select class="form-control input is-primary" formControlName="id_tinh"
                [ngClass]="{ 'is-invalid': submitted && f.id_tinh.errors }" (selectionChange)="loadHuyen($event.value)">
                <mat-option *ngFor="let tinh of tinhs" [value]="tinh.id">
                  {{tinh.name}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && f.id_tinh.errors" class="help is-danger">
                <div *ngIf="f.id_tinh.errors.required" translate>tq.congDan.validate.id_tinh.required</div>
              </div>
            </div>
            <div class="control col-md-3" *ngIf="f.id_tinh.value">
              <mat-select class="form-control input is-primary" formControlName="id_huyen"
                [ngClass]="{ 'is-invalid': submitted && f.id_huyen.errors }" (selectionChange)="loadXa($event.value)">
                <mat-option *ngFor="let huyen of huyens" [value]="huyen.id">
                  {{huyen.name}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && f.id_huyen.errors" class="help is-danger">
                <div *ngIf="f.id_huyen.errors.required" translate>tq.congDan.validate.id_huyen.required</div>
              </div>
            </div>
            <div class="control col-md-3" *ngIf="f.id_huyen.value">
              <mat-select class="form-control input is-primary" formControlName="id_xa"
                [ngClass]="{ 'is-invalid': submitted && f.id_xa.errors }">
                <mat-option *ngFor="let xa of xas" [value]="xa.id">
                  {{xa.name}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && f.id_xa.errors" class="help is-danger">
                <div *ngIf="f.id_xa.errors.required" translate>tq.congDan.validate.id_xa.required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2" translate>tq.congDan.noiCuTruChiTiet</label>
            <div class="control col-md-9">
              <input class="form-control input is-primary" formControlName="noiCuTru"
                [ngClass]="{ 'is-invalid': submitted && f.noiCuTru.errors }" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2" translate>tq.congDan.noiLamViec</label>
            <div class="control col-md-9">
              <input class="form-control input is-primary" formControlName="noiLamViec"
                [ngClass]="{ 'is-invalid': submitted && f.noiLamViec.errors }" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4 row">
              <label class="col-md-8" translate>tq.congDan.vuongChinhTri</label>
              <div class="control col-md-4">
                <input type="checkbox" formControlName="vuongChinhTri"
                  [ngClass]="{ 'is-invalid': submitted && f.vuongChinhTri.errors }" />
              </div>
            </div>
            <div class="col-md-8 row" *ngIf="f.vuongChinhTri.value == true">
              <label class="col-md-4" translate>tq.congDan.noiDungVuongChinhTri</label>
              <div class="control col-md-7">
                <input class="form-control input is-primary" formControlName="noiDungVuongChinhTri"
                  [ngClass]="{ 'is-invalid': submitted && f.noiDungVuongChinhTri.errors }" />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 row" *ngIf="!data.body && data.type !== 'syQuan'">
              <label class="col-md-4" translate>tq.congDan.id_tq_type_congDan</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="id_tq_type_congDan"
                  [ngClass]="{ 'is-invalid': submitted && f.id_tq_type_congDan.errors }"
                  (selectionChange)="loadDateAction($event.value)">
                  <mat-option *ngFor="let typeCongDan of typeCongDans" [value]="typeCongDan.next_state">
                    {{typeCongDan.name}}
                  </mat-option>
                </mat-select>
                <div *ngIf="submitted && f.id_tq_type_congDan.errors" class="help is-danger">
                  <div *ngIf="f.id_tq_type_congDan.errors.required" translate>
                    tq.congDan.validate.id_tq_type_congDan.required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 row" *ngIf="data.type === 'syQuan'">
              <label class="col-md-4" translate>tq.congDan.id_quanHam</label>
              <div class="control col-md-8">
                <mat-select class="form-control input is-primary" formControlName="id_quanHam"
                  [ngClass]="{ 'is-invalid': submitted && f.id_quanHam.errors }">
                  <mat-option *ngFor="let quanHam of quanHams" [value]="quanHam.id">
                    {{quanHam.name}}
                  </mat-option>
                </mat-select>
                <div *ngIf="submitted && f.id_quanHam.errors" class="help is-danger">
                  <div *ngIf="f.id_quanHam.errors.required" translate>
                    tq.congDan.validate.id_quanHam.required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 row">
              <label class="col-md-4" translate>tq.congDan.id_donViQuanLy</label>
              <div class="control col-md-8">
                <div class="input-group-prepend" dropdown>
                  <button type="button" class="btn btn-block input is-primary input" dropdownToggle translate>
                    <label translate>tq.congDan.id_donViQuanLy </label>
                    <label class="dropdown-toggle dropdown-toggle-right"></label>
                  </button>
                  <div class="dropdown-menu custom-dropdown-row" *dropdownMenu (click)="$event.stopPropagation()">
                    <kendo-treeview class="treeview" [nodes]="donVis" [children]="children" [hasChildren]="hasChildren"
                      textField="label" kendoTreeViewExpandable [kendoTreeViewCheckable]="checkableSettings"
                      [(checkedKeys)]="id_donVis" [checkBy]="'data'">
                    </kendo-treeview>
                  </div>
                </div>
                <div *ngIf="submitted && f.id_donViQuanLy.errors" class="help is-danger">
                  <div *ngIf="f.id_donViQuanLy.errors.required" translate>tq.congDan.validate.id_donViQuanLy.required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="!data.body">
            <div class="col-md-6 row">
              <label class="col-md-4" translate>common.tuNgay</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="id_tq_type_congDan_tuNgay"
                  [ngClass]="{ 'is-invalid': submitted && f.id_tq_type_congDan_tuNgay.errors }" />
                <div *ngIf="submitted && f.id_tq_type_congDan_tuNgay.errors" class="help is-danger">
                  <div *ngIf="f.id_tq_type_congDan_tuNgay.errors.required" translate>common.validate.tuNgay.required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 row" *ngIf="isInputDate == true">
              <label class="col-md-4" translate>common.denNgay</label>
              <div class="control col-md-8">
                <input type="date" class="form-control input is-primary" formControlName="id_tq_type_congDan_denNgay"
                  [ngClass]="{ 'is-invalid': submitted && f.id_tq_type_congDan_denNgay.errors }" />
                <div *ngIf="submitted && f.id_tq_type_congDan_denNgay.errors" class="help is-danger">
                  <div *ngIf="f.id_tq_type_congDan_denNgay.errors.required" translate>common.validate.denNgay.required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="this.typeCongDanSelection && this.typeCongDanSelection.code === 'tamHoan'">
            <label class="col-md-2" translate>tq.congDan.tamHoan</label>
            <div class="control col-md-9">
              <mat-select class="form-control input is-primary" (selectionChange)="choiseLyDo($event.value)">
                <mat-option *ngFor="let tamHoan of tamHoans" [value]="tamHoan.name">
                  {{tamHoan.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group row" *ngIf="this.typeCongDanSelection && this.typeCongDanSelection.code === 'mien'">
            <label class="col-md-2" translate>tq.congDan.mien</label>
            <div class="control col-md-9">
              <mat-select class="form-control input is-primary" (selectionChange)="choiseLyDo($event.value)">
                <mat-option *ngFor="let mien of miens" [value]="mien.name">
                  {{mien.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2" translate>common.ghiChu</label>
            <div class="control col-md-9">
              <input class="form-control input is-primary" formControlName="ghiChu"
                [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="data.body">
        <div>&nbsp; </div>
        <ng-template mat-tab-label>
          <label translate>tq.congDan.quanHeGiaDinh</label>
        </ng-template>
        <div class="col-md-12">
          <div class="row">
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="index">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>Index </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let element; index as i">
                    {{paginator.pageSize * paginator.pageIndex + i + 1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="id_quanHe">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.congDan.quanHe.id_quanHe
                    </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let row"> {{row.tenQuanHe}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.name </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="namSinh">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.congDan.quanHe.namSinh </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let row"> {{row.namSinh}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="id_ngheNghiep">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.congDan.quanHe.id_ngheNghiep
                    </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let row"> {{row.tenNgheNghiep}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ghiChu">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.ghiChu </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let row"> {{row.ghiChu}} </mat-cell>
                </ng-container>
                <mat-cell matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>
                    <button (click)="openUpdateDialog({id: data.id})" mat-icon-button color="primary">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row;">
                    <mat-select id="actions" placeholder="Tùy chọn">
                      <mat-option (click)="openUpdateDialog({id: data.id, body:row})">
                        <button mat-icon-button>
                          <mat-icon aria-label="Edit">edit</mat-icon>
                          <label translate>common.edit</label>
                        </button>
                      </mat-option>
                      <mat-option (click)="openDeleteDialog(row)">
                        <button mat-icon-button>
                          <mat-icon aria-label="Delete">delete</mat-icon>
                          <label translate>common.delete</label>
                        </button>
                      </mat-option>
                    </mat-select>
                  </mat-cell>
                </mat-cell>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
                  (click)="onSelectedRow(row)">
                </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="data.body">
        <div>&nbsp; </div>
        <ng-template mat-tab-label>
          <label translate>tq.congDan.quaTrinhThamGia</label>
        </ng-template>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">&nbsp;</div>
            <div class="col-md-3">
              <button mat-button class="btn-outline-success" (click)="openUpdateStateDialog()" *ngIf=" ( data.id_tq_type_congDan != 5 && 
                data.id_tq_type_congDan != 6 && data.id_tq_type_congDan != 11 && 
                data.id_tq_type_congDan != 12 && data.id_tq_type_congDan != 13 &&
                 data.id_tq_type_congDan != 14)">
                <mat-icon aria-label="Edit">edit</mat-icon>
                <label translate>tq.congDan.stateHistory</label>
              </button>
            </div>
            <div class="col-md-3">
              <button mat-button class="btn-outline-primary" (click)="openUpdateStateDialog(latestDataDetail)" *ngIf=" ( data.id_tq_type_congDan != 5 && 
                data.id_tq_type_congDan != 6 && data.id_tq_type_congDan != 11 && 
                data.id_tq_type_congDan != 12 && data.id_tq_type_congDan != 13 &&
                 data.id_tq_type_congDan != 14)">
                <mat-icon aria-label="Edit">edit</mat-icon>
                <label translate>tq.congDan.stateNow</label>
              </button>
            </div>
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="dataSourceQuaTrinh" matSort>
                <ng-container matColumnDef="index">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>Index </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let element; index as i">
                    {{paginator.pageSize * paginator.pageIndex + i + 1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tenQuaTrinh">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.congDan.quaTrinh.tenQuaTrinh
                    </label>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tenQuaTrinh}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tuNgay">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.tuNgay
                    </label>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tuNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="denNgay">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.denNgay
                    </label>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.denNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tenDotTuyenQuan">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label
                      translate>tq.congDan.quaTrinh.tenDotTuyenQuan </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let row"> {{row.tenDotTuyenQuan}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="donViQuanLy">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label
                      translate>tq.congDan.quaTrinh.tenQuaTrinhTiepTheo </label>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.tenQuaTrinhTiepTheo}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="noiDung">
                  <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.noiDung </label>
                  </mat-header-cell>
                  <mat-cell class="mat-center" *matCellDef="let row"> {{row.noiDung}} </mat-cell>
                </ng-container>
                <mat-cell matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row;">
                    <mat-select id="actions" placeholder="Tùy chọn">
                      <mat-option (click)="openUpdateTrangThaiDialog(row)">
                        <button mat-icon-button>
                          <mat-icon aria-label="Edit">edit</mat-icon>
                          <label translate>common.edit</label>
                        </button>
                      </mat-option>
                      <mat-option (click)="openDeleteQuaTrinhDialog(row)"
                        *ngIf="(row.id_type_beforeState && !row.id_dotTuyenQuan) || ( row.id_type_state == 15 )">
                        <button mat-icon-button>
                          <mat-icon aria-label="Delete">delete</mat-icon>
                          <label translate>common.delete</label>
                        </button>
                      </mat-option>
                    </mat-select>
                  </mat-cell>
                </mat-cell>
                <mat-header-row *matHeaderRowDef="displayedColumnQuaTrinhs"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnQuaTrinhs;"
                  [ngClass]="{ 'selected': row == selectedRow }" (click)="onSelectedRow(row)">
                </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <div>&nbsp; </div>
        <ng-template mat-tab-label>
          <label translate>tq.congDan.coSoQuanTrang</label>
        </ng-template>
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-md-2">&nbsp;</label>
            <label class="col-md-2" translate>tq.congDan.sizeAo</label>
            <div class="control col-md-5">
              <input type="number" class=" form-control input is-primary" formControlName="sizeAo"
                [ngClass]="{ 'is-invalid': submitted && f.sizeAo.errors }" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2">&nbsp;</label>
            <label class="col-md-2" translate>tq.congDan.sizeGiay</label>
            <div class="control col-md-5">
              <input type="number" class=" form-control input is-primary" formControlName="sizeGiay"
                [ngClass]="{ 'is-invalid': submitted && f.sizeGiay.errors }" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2">&nbsp;</label>
            <label class="col-md-2" translate>tq.congDan.sizeMu</label>
            <div class="control col-md-5">
              <input type="number" class="form-control input is-primary" formControlName="sizeMu"
                [ngClass]="{ 'is-invalid': submitted && f.sizeMu.errors }" />
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate>common.cancel</span></button>
    <button mat-button type="submit" (click)="onSubmit()" cdkFocusInitial><span translate>common.save</span></button>
  </div>
</form>