<h2 mat-dialog-title translate>tq.dotTq.update.title</h2>
<form [formGroup]="dotTqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>tq.dotTq.nam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="nam"
          [ngClass]="{ 'is-invalid': submitted && f.nam.errors }">
          <mat-option *ngFor="let number of numbers" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.nam.errors" class="help is-danger">
          <div *ngIf="f.nam.errors.required" translate>tq.dotTq.validate.nam.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.name</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>common.validate.name.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.tuNgay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay"
          [ngClass]="{ 'is-invalid': submitted && f.tuNgay.errors }" />
        <div *ngIf="submitted && f.tuNgay.errors" class="help is-danger">
          <div *ngIf="f.tuNgay.errors.required" translate>common.validate.tuNgay.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.denNgay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="denNgay"
          [ngClass]="{ 'is-invalid': submitted && f.denNgay.errors }" />
        <div *ngIf="submitted && f.denNgay.errors" class="help is-danger">
          <div *ngIf="f.denNgay.errors.required" translate>common.validate.denNgay.required</div>
        </div>
        <div *ngIf="falseDate == true" class="help is-danger">
          <div translate>tq.dotTq.validate.denNgay.tuNgay</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.dotTq.ngayKhoaDk</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayKhoaDk"
          [ngClass]="{ 'is-invalid': submitted && f.ngayKhoaDk.errors }" />
        <div *ngIf="submitted && f.ngayKhoaDk.errors" class="help is-danger">
          <div *ngIf="f.ngayKhoaDk.errors.required" translate>tq.dotTq.validate.ngayKhoaDk.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.ghiChu</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="ghiChu"
          [ngClass]="{ 'is-invalid': submitted && f.ghiChu.errors }" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>