<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>tq.dotTuyenQuan.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>tq.dotTq.nam</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="nam"
                [ngClass]="{ 'is-invalid': submitted && f.nam.errors }">
                <mat-option *ngFor="let number of numbers" [value]="number">
                  {{number}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>common.description</label>
            <div class="control">
              <input class="form-control input is-primary" formControlName="description" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary"><i class="fa fa-search"></i> Search</button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>Index </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let element; index as i">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nam">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.dotTq.nam </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.nam}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.name </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tuNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.tuNgay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.tuNgay| amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="denNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.denNgay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.denNgay| amFromUtc | amDateFormat: 'DD/MM/YYYY'}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayKhoaDk">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.dotTq.ngayKhoaDk </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.ngayKhoaDk| amFromUtc | amDateFormat: 'DD/MM/YYYY'}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.description </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.ghiChu}} </mat-cell>
            </ng-container>
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.TQ_DotTuyenQuan._insert">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.TQ_DotTuyenQuan._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>common.edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.TQ_DotTuyenQuan._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>