<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateNgoaiNguCanBo</h2>
    
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_ngoaiNgu</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_ngoaiNgu"
          [ngClass]="{ 'is-invalid': submitted && f.id_ngoaiNgu.errors }">
          <mat-option *ngFor="let NgoaiNgu of lstNgoaiNgu" [value]="NgoaiNgu.value">
            {{NgoaiNgu.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_ngoaiNgu.errors" class="help is-danger">
          <div *ngIf="f.id_ngoaiNgu.errors.required" translate>id_ngoaiNgu is required</div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_trinhDoNgoaiNgu</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_trinhDoNgoaiNgu"
          [ngClass]="{ 'is-invalid': submitted && f.id_trinhDoNgoaiNgu.errors }">
          <mat-option *ngFor="let TrinhDoNgoaiNgu of lstTrinhDoNgoaiNgu" [value]="TrinhDoNgoaiNgu.value">
            {{TrinhDoNgoaiNgu.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_trinhDoNgoaiNgu.errors" class="help is-danger">
          <div *ngIf="f.id_trinhDoNgoaiNgu.errors.required" translate>id_trinhDoNgoaiNgu is required</div>
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
      <label translate>id_phanLoaiTrinhDo_NgoaiNgu</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_phanLoaiTrinhDo_NgoaiNgu"
          [ngClass]="{ 'is-invalid': submitted && f.id_phanLoaiTrinhDo_NgoaiNgu.errors }">
          <mat-option *ngFor="let item of lstPhanLoaiTrinhDoNgoaiNgu" [value]="item.value">
            {{item.display}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_phanLoaiTrinhDo_NgoaiNgu.errors" class="help is-danger">
        </div>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label translate>diem</label>
        <div class="control">
          <input type="number" class="form-control input is-primary" formControlName="diem"
            [ngClass]="{ 'is-invalid': submitted && f.diem.errors }" />
          <div *ngIf="submitted && f.diem.errors" class="help is-danger">
            <div *ngIf="f.diem.errors.required" translate>diem is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label translate>xepLoai</label>
        <div class="control">
          <input class="form-control input is-primary" formControlName="xepLoai"
            [ngClass]="{ 'is-invalid': submitted && f.xepLoai.errors }" />
          <div *ngIf="submitted && f.xepLoai.errors" class="help is-danger">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>