.mat-column-tenDonVi {
  flex: 0 0 50% !important;
  width: 50% !important;
}
.mat-column-maDonVi {
  flex: 0 0 20% !important;
  width: 20% !important;
}
.mat-column-ngayBatDau {
  flex: 0 0 15% !important;
  width: 15% !important;
}
.mat-column-tuNgay {
  flex: 0 0 15% !important;
  width: 15% !important;
}
.p-treetabletoggler .a {
  margin-left: 0px !important;
}