<form [formGroup]="congDanForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>tq.nhapNgu.update.title</h2>
    <div class="form-group field">
      <label translate>tq.nhapNgu.id_tq_type_congDan</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_type_state"
          [ngClass]="{ 'is-invalid': submitted && f.id_type_state.errors }">
          <mat-option *ngFor="let typeCongDan of typeCongDans" [value]="typeCongDan.next_state">
            {{typeCongDan.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_type_state.errors" class="help is-danger">
          <div *ngIf="f.id_type_state.errors.required" translate>tq.nhapNgu.validate.id_tq_type_congDan.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="f.id_type_state ==8 || f.id_type_state== 15">
      <label translate>tq.nhapNgu.id_donViDbdv</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_donViDbdv"
          [ngClass]="{ 'is-invalid': submitted && f.id_donViDbdv.errors }">
          <mat-option *ngFor="let donViDbdv of donViDbdvs" [value]="donViDbdv.id">
            {{donViDbdv.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_donViDbdv.errors" class="help is-danger">
          <div *ngIf="f.id_donViDbdv.errors.required" translate>tq.nhapNgu.validate.id_donViDbdv.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field" *ngIf="f.id_type_state ==8 || f.id_type_state== 15">
      <label translate>tq.nhapNgu.id_quanHam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_quanHam"
          [ngClass]="{ 'is-invalid': submitted && f.id_quanHam.errors }">
          <mat-option *ngFor="let quanHam of quanHams" [value]="quanHam.id">
            {{quanHam.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.id_quanHam.errors" class="help is-danger">
          <div *ngIf="f.id_quanHam.errors.required" translate>tq.nhapNgu.validate.id_quanHam.required
          </div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>common.tuNgay</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>