<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>tq.nhapNgu.title</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>tq.dotTq.nam</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="nam"
                [ngClass]="{ 'is-invalid': submitted && f.nam.errors }"
                (selectionChange)="loadDotTuyenQuan($event.value)">
                <mat-option *ngFor="let number of numbers" [value]="number">
                  {{number}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label translate>tq.nhapNgu.id_dotTuyenQuan</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="id_dotTuyenQuan">
                <mat-option *ngFor="let dotTuyenQuan of dotTuyenQuans" [value]="dotTuyenQuan.id">
                  {{dotTuyenQuan.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>tq.nhapNgu.id_tq_type_congDan</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="id_tq_type_congDan"
                (selectionChange)="loadUpdate($event.value)">
                <mat-option><span translate>None</span></mat-option>
                <mat-option *ngFor="let typeCongDan of typeStateCongDans" [value]="typeCongDan.id">
                  {{typeCongDan.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-2">
            <label>&nbsp;</label>
            <div class="control">
              <button type="submit" mat-button class="button btn is-primary float-right"><i class="fa fa-search"></i>
                <span translate>Search</span></button>
            </div>
          </div>
          <div class="form-group col-sm-2" *ngIf="checkUpdate == true">
            <label>&nbsp;</label>
            <div class="control">
              <button type="button" mat-button (click)="openUpdateXdDialog()"
                class="button btn btn-primary border"><span translate>tq.nhapNgu.capNhat</span> </button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef fxFlex="10%">
                <input type="checkbox" (change)="checkAll($event.target.checked)" id='all'>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="mat-center" fxFlex="10%">
                <label *ngIf="row.checked=== true"><input type="checkbox" (click)="row.checked = false"
                    [value]="row.checked" [id]="row.id" (change)="row.checked = false" checked="true"></label>
                <label *ngIf="row.checked === false"><input type="checkbox" (click)="row.checked = true"
                    [value]="row.checked" [id]="row.id" (change)="row.checked = true">
                </label>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hoTen">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>common.hoTen </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.hoTen}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_trinhDoVanHoa">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label
                  translate>tq.congDan.id_trinhDoVanHoa </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.tenTrinhDoVanHoa}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noiCuTru">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.congDan.noiCuTru
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.noiCuTru}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cmnd">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>common.cmnd
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.cmnd}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id_donViQuanLy">
              <mat-header-cell *matHeaderCellDef fxFlex="20%" mat-sort-header><label translate>tq.congDan.id_donViQuanLy
                </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row" fxFlex="20%"> {{row.tenDonViQuanLy}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noiDung">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tq.congDan.id_tq_type_congDan </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                <span *ngIf="row.noiDung"> {{row.noiDung}}</span>
                <span *ngIf="!row.noiDung"> {{row.tenTrangThai}}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngaySinh">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.ngaySinh </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.ngaySinh | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <!-- <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.TQ_CongDan._insert">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button> -->
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <!-- <mat-option (click)="openDetailDialog(row)">
                    <button mat-icon-button>
                      <mat-icon aria-label="Detail">search</mat-icon>
                      <label translate>viewDetail</label>
                    </button>
                  </mat-option> -->
                  <mat-option (click)="openUpdateDialog({type: 'congDan', body:row})" *ngIf="permission.TQ_CongDan._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>common.edit</label>
                    </button>
                  </mat-option>
                  <!-- <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.TQ_CongDan._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option> -->
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[100, 200, 500, 1000]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>