<form [formGroup]="tqForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title *ngIf="data"><span translate>tq.congDan.huanLuyen.title</span></h2>
    <div class="form-group field">
      <label translate>tq.theoDoiHuanLuyen.nam</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="nam"
          [ngClass]="{ 'is-invalid': submitted && f.nam.errors }">
          <mat-option *ngFor="let number of numbers" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.nam.errors" class="help is-danger">
          <div *ngIf="f.nam.errors.required" translate>tq.theoDoiHuanLuyen.validate.nam.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tq.theoDoiHuanLuyen.ngayHuanLuyen</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayHuanLuyen"
          [ngClass]="{ 'is-invalid': submitted && f.ngayHuanLuyen.errors }" />
        <div *ngIf="submitted && f.ngayHuanLuyen.errors" class="help is-danger">
          <div *ngIf="f.ngayHuanLuyen.errors.required" translate>tq.theoDoiHuanLuyen.validate.ngayHuanLuyen.required</div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No</button>
    <button mat-button type="submit" cdkFocusInitial>Yes</button>
  </div>
</form>