<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <strong translate>dqpan.daoTaoTheoLopHoc.title</strong>
    </div>
    <div class="card-body">
      <!--thêm vào form-->
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
        <div class="row">
          <div class="form-group col-sm-3">
            <label translate>Loại đối tượng</label>
            <div class="control">
              <mat-select class="form-control input is-primary" formControlName="code_phanLoaiDoiTuong" (click)="getcode(id_phanLoaiDoiTuong)">
                <mat-option *ngFor="let phanLoaiDoiTuong of phanLoaiDoiTuongs" [value]="phanLoaiDoiTuong.code">
                  {{phanLoaiDoiTuong.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>common.tuNgay</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label translate>common.denNgay</label>
            <div class="control">
              <input type="date" class="form-control input is-primary" formControlName="denNgay" />
            </div>
          </div>
          <div class="form-group col-sm-3">
            <label></label>
            <div class="control">
              <button type="submit" class="button is-primary">Kết Quả</button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef> <label>Index </label> </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.name </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tuNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.tuNgay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.tuNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="denNgay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>common.denNgay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row">
                {{row.denNgay | amFromUtc | amDateFormat: 'DD/MM/YYYY'}}
              </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="id_phanLoaiDoiTuong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>id_phanLoaiDoiTuong </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.id_phanLoaiDoiTuong}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noiDungGiangDay">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>noiDungGiangDay </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.noiDungGiangDay}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ghiChuKq">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ghiChuKq </label>
              </mat-header-cell>
              <mat-cell class="mat-center" *matCellDef="let row"> {{row.ghiChuKq}} </mat-cell>
            </ng-container>
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openUpdateDialog()" mat-icon-button color="primary"
                  *ngIf="permission.GD_QPAN_DoiTuong._insert">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <mat-select id="actions" placeholder="Tùy chọn">
                  <mat-option (click)="openUpdateDialog(row)" *ngIf="permission.GD_QPAN_DoiTuong._update">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>common.edit</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openDeleteDialog(row)" *ngIf="permission.GD_QPAN_DoiTuong._delete">
                    <button mat-icon-button>
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      <label translate>common.delete</label>
                    </button>
                  </mat-option>
                  <mat-option (click)="openKetQuaDialog(row)" *ngIf="permission.GD_QPAN_QuanLyKQDTTheoLop._view">
                    <button mat-icon-button>
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      <label translate>Kết quả</label>
                    </button>
                  </mat-option>
                </mat-select>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>


