<h2 mat-dialog-title translate>Thêm lop hoc</h2>
<form [formGroup]="daoTaoTheoLopHocForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <div class="form-group field">
      <label translate>Loại đối tượng</label>
        <mat-select class="form-control input is-primary" formControlName="code_phanLoaiDoiTuong">
          <mat-option *ngFor="let phanLoaiDoiTuong of phanLoaiDoiTuongs" [value]="phanLoaiDoiTuong.id">
            {{phanLoaiDoiTuong.name}}
          </mat-option>
        </mat-select>
    </div>
    <div class="form-group field">
      <label translate>Tên lớp học</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="tenLopHoc"
          [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
        <div *ngIf="submitted && f.tenLopHoc.errors" class="help is-danger">
          <div *ngIf="f.tenLopHoc.errors.required" translate>common.validate.tenLopHoc.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>Từ ngày</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="tuNgay" />
        </div>
    </div>
    <div class="form-group field">
      <label translate>Đến ngày</label>
        <div class="control">
          <input type="date" class="form-control input is-primary" formControlName="ngayNgay" />
        </div>
    </div>
    <!--doi tuong-->
    <div class="form-group field">
      <label translate>Đối tượng</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_doiTuong">
          <mat-option *ngFor="let doiTuong of doiTuongs" [value]="doiTuong.id">
            {{doiTuong.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <!--phan loai lớp học -->
    <div class="form-group field">
      <label translate>Phân loại lớp học</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_phanLoaiLopHoc">
          <mat-option *ngFor="let phanLoaiLopHoc of phanLoaiLopHocs" [value]="phanLoaiLopHoc.id">
            {{phanLoaiLopHoc.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <!--xã / huyện / tỉnh-->

    <div class="form-group field"   *ngIf="id_phanLoaiDoiTuong==1">
      <label translate>Đơn vị</label>
      <div class="control">
        <mat-select class="form-control input is-primary" formControlName="id_donVi"
        [ngClass]="{ 'is-invalid': submitted && f.id_donVi.errors }">
        <mat-option *ngFor="let donVi of donVis" [value]="donVi.id">
          {{donVi.name}}
        </mat-option>
      </mat-select>
      </div>
    </div>
    <div class="form-group field">
      <label translate>Nội dung giảng dạy</label>
      <div class="control">
        <textarea class="form-control input is-primary" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" ></textarea>
        <div *ngIf="submitted && f.name.errors" class="help is-danger">
          <div *ngIf="f.name.errors.required" translate>common.validate.name.required</div>
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>Ghi chú</label>
      <div class="control">
        <textarea class="form-control input is-primary" formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
      </div>
    </div>
    <!-- <div class="form-group field">
      <label translate>common.sortOrder</label>
      <div class="control">
        <input class="form-control input is-primary" type="number" formControlName="sortOrder"
          [ngClass]="{ 'is-invalid': submitted && f.sortOrder.errors }" />
        <div *ngIf="submitted && f.sortOrder.errors" class="help is-danger">
          <div *ngIf="f.sortOrder.errors.required" translate>common.validate.sortOrder.required</div>
          <div *ngIf="f.sortOrder.errors.min" translate>common.validate.sortOrder.min0</div>
        </div>
      </div>
    </div> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"> <span translate>common.cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate>common.save</span></button>
  </div>
</form>