<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>
    <h2 mat-dialog-title translate>UpdateMucLuongCoSo</h2>
    <label translate>id_phanLoaiHopDong</label>
    <div class="control">
      <mat-select class="form-control input is-primary" formControlName="id_phanLoaiHopDong"
        [ngClass]="{ 'is-invalid': submitted && f.id_phanLoaiHopDong.errors }">
        <mat-option *ngFor="let plhd of lstPhanLoaiHopDong" [value]="plhd.value">
          {{plhd.display}}
        </mat-option>
      </mat-select>
      <div *ngIf="submitted && f.id_phanLoaiHopDong.errors" class="help is-danger">
      </div>
    </div>
    <div class="form-group field">
      <label translate>mucTien</label>
      <div class="control">
        <input type="number" class="form-control input is-primary" formControlName="mucTien"
          [ngClass]="{ 'is-invalid': submitted && f.mucTien.errors }" />
        <div *ngIf="submitted && f.mucTien.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>ngayApDung</label>
      <div class="control">
        <input type="date" class="form-control input is-primary" formControlName="ngayApDung"
          [ngClass]="{ 'is-invalid': submitted && f.ngayApDung.errors }" />
        <div *ngIf="submitted && f.ngayApDung.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>tenVanBan</label>
      <div class="control">
        <input class="form-control input is-primary" formControlName="tenVanBan"
          [ngClass]="{ 'is-invalid': submitted && f.tenVanBan.errors }" />
        <div *ngIf="submitted && f.tenVanBan.errors" class="help is-danger">
        </div>
      </div>
    </div>
    <div class="form-group field">
      <label translate>ghiChu</label>
      <div class="control">
        <quill-editor formControlName="ghiChu"></quill-editor>
      </div>
    </div>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()"><span translate> Cancel</span></button>
    <button mat-button type="submit" cdkFocusInitial><span translate> Save</span></button>  </div>
</form>