<div class="animated fadeIn">
  <div class="card card-default">
    <div class="card-header">
      <i class="fa fa-align-justify"></i><a [routerLink]="['/hscb/canbo']" translate>canbo</a>&nbsp;/&nbsp;
      <strong translate>mucluongcoso</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="index">
              <th mat-header-cell class="index" *matHeaderCellDef>
                <label>Index </label>
              </th>
              <td mat-cell class="index" *matCellDef="let element; index as i">
                {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="tenPhanLoaiHopDong">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenPhanLoaiHopDong </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenPhanLoaiHopDong}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mucTien">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>mucTien </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.mucTien}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ngayApDung">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ngayApDung </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.ngayApDung | amFromUtc | amDateFormat: 'DD/MM/YYYY'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenVanBan">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>tenVanBan </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.tenVanBan}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ghiChu">
              <mat-header-cell *matHeaderCellDef mat-sort-header><label translate>ghiChu </label>
              </mat-header-cell>
              <mat-cell *matCellDef="let row"><label class="text2p" [innerHTML]="row.ghiChu"></label> </mat-cell>
            </ng-container>
            <!-- Actions Column-->
            <!-- actions -->
            <mat-cell matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button (click)="openMucLuongCoSoDialog()" mat-icon-button color="primary" *ngIf="permission.HSCB_MucLuongCoSo._insert">
                  <mat-icon aria-label="Insert">add</mat-icon>
                </button>
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <button mat-icon-button color="accent" (click)="openMucLuongCoSoDialog(row)" *ngIf="permission.HSCB_MucLuongCoSo._update">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openDeleteDialog(row)"
                  *ngIf="permission.HSCB_MucLuongCoSo._delete">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </mat-cell>
            </mat-cell>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'selected': row == selectedRow }"
              (click)="onSelectedRow(row)">
            </mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[50, 100, 200, 500]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>